<div class="cor-body">

    <div class="cor-countersection" >
        <div>
            <h1 class="cor-text-45-600-Nunito-Sans cor-color-black cor-m-2">200 +</h1>
            <p class="cor-text-18-600-Nunito cor-color-black cor-m-1">Over two Hundred Monthly users</p>
        </div>
        <div>
            <h1 class="cor-text-45-600-Nunito-Sans cor-color-black cor-m-2">20+</h1>
            <p class="cor-text-18-600-Nunito cor-color-black cor-m-1">20 + Countries Accross the Globe</p>
        </div>
        <div>
            <h1 class="cor-text-45-600-Nunito-Sans cor-color-black cor-m-2">56+</h1>
            <p class="cor-text-18-600-Nunito cor-color-black cor-m-1">56+ Cities Across the World</p>
        </div>
    </div>
    <div class="cor-make1">
        <div class="cor-make">
            <h1 class="cor-text-30-600-Nunito-Sans cor-color-black cor-m-3">Cortracker Over View</h1><br><br>
            <p class="cor-text-18-600-Nunito cor-color-slategray cor-m-4">Cortracker a power packed single solution for
                the automated inventory management system. With the help of our inventory management system, keep
                customers happy by delivering on-time. By using Cortracker’s built-in business intelligence, avoid
                stock-outs and low inventory turns. Cortracker helps to increase your sales by keeping track of every
                unit with power packed stock management, inventory control software, and order fulfilment.<br><br>

                Through our automated inventory management system, you can view real-time inventory levels across every
                channel of business. What’s more! You can access powerful invoicing features such as payment reminders,
                tracking invoice and can manage expenses & reports.<br><br>

                With Cortracker dashboard you can improve operation and even when the stock reaches minimum levels you
                can use automations and workflows to trigger purchase order.<br><br>

                It is a leading software package that offers a wide array of features including customer services, sales
                and inventory management tools, rolled into a single enterprise solution, for Electronic Component
                Distribution. It is encompassed by a staff of technical professionals who are dedicated to providing
                customers with cutting edge technologies such as .NET and Open Source while recommending the best
                business practices related to their industry.<br></p>
        </div>
    </div>
    <div class="cor-make2">
        <div class="cor-text-30-600-Nunito-Sans">IMS Flow Chart</div>
        <img src="../../../assets/images/about-us/Group 39940.png" alt="" class="about-img1">
        <img src="../../../assets/images/about-us/Group 427.png" alt="" class="about-img">
    </div>
</div>