<div class="container-fluid jmj-popcountries-cont">
    <div class="container">
        <div class="row">
            <div class="col-12 jmj-popcon-headtxt">
                <h2 class="cl-fblc-a"> Popular Counties </h2>
                <span class='cl-fgry-b'>15 Countries - 2548 Immigrations</span>
            </div>
        </div>
        <div class="row jmj-flex-box">
            <div class="col-md">
                <div class="jmj-popcon-conimg-box">
                    <div class='col-md-6'>
                        <img src="assets/images/countries/usa.svg" alt="">
                        <span>USA</span>
                    </div>
                    <div class='col-md-6'>
                        <img src="assets/images/countries/uk.svg" alt="">
                        <span>United Kingdom</span>
                    </div>
                    <div class='col-md-6'>
                        <img src="assets/images/countries/india.svg" alt="">
                        <span>India</span>
                    </div>
                    <div class='col-md-6'>
                        <img src="assets/images/countries/france.svg" alt="">
                        <span>France</span>
                    </div>
                    <div class='col-md-12'>
                        <img src="assets/images/countries/italy.svg" alt="">
                        <span>Italy</span>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <ul class='jmj-popcon-listing'>
                    <li>Visitor Visa</li>
                    <li>Student Visa & Admission</li>
                    <li>Work Visa & FSTP</li>
                    <li>Business Visa</li>
                    <li>PR Visa - Express Entry</li>
                    <li>PR Visa - PNP</li>
                </ul>
            </div>
        </div>
    </div>
</div>