<app-head-comp-two></app-head-comp-two>
<div class='container'>
    <div class="row jmj-flex-1">
        <div class="jmj-uni-para-cont col-lg-7 cl-fblc-a jmj-pb-4 jmj-pr-2">
            <h2 class='jmj-uni-para-cont-h2'>Work & Settle Abroad With Your Family </h2>
            <p class='jmj-uni-para-cont-p'>Do you need to make a career and life abroad? 
                mutually of the world’s leading overseas career specialists and a number one work visa agent, 
                JMJ Consultancy has helped thousands of people and families settle within the world’s most
                 inhabitable countries. We’ve seen primary however moving abroad will dramatically 
                 improve not simply the migrant’s life however that of their family and oldsters.
                  With our comprehensive overseas career solutions, we have a tendency to area unit the #1 selection 
                  for professionals seeking to figure abroad.</p>
            <br><br>
            <h2 class='jmj-uni-para-cont-h2'>End to End Job Search Services </h2>
            <p class='jmj-uni-para-cont-p'>JMJ Consultancy has efficient the steps concerned in operating abroad to create your 
                journey power tool. Our method is aimed toward creating your profile a lot of accessible, engaging and fascinating. 
                Our services begin with serving to you produce a resume that meets international standards and assist 
                you craft an interesting LinkedIn profile. we have a tendency to then market your profile within the countries of 
                your alternative and work to induce you interview calls. an obsessive Job Search authority can work with you on your 
                international career, guiding you through the method.</p>
        </div>
        <div class="col-lg-5">
            <img src="../../../assets/images/workimg.png" alt="">
        </div>
    </div>  
</div>
<app-our-services></app-our-services>
<div class="container">
    <div class="row">
        <div class="jmj-uni-para-cont col-lg-8 cl-fblc-a jmj-pb-4 jmj-pr-2">
            <h2 class='jmj-uni-para-cont-h2'>Why work Abroad? </h2>
            <p class='jmj-uni-para-cont-p'>Working abroad will dramatically rework your life and career. operating abroad is that the excellent choice for you if you propose to:</p>
            <ul class='jmj-uni-para-cont-ul'>
                <li>Grow your career and have international quality</li>
                <li>Earn greenback salaries resulting in higher saving</li>
                <li>Live in well-developed countries</li>
                <li>Have access to foremost education & attention</li>
                <li>Gain access to national advantages</li>
                <li>Get a robust passport that facilitates international travel</li>
            </ul>
            <p class='jmj-uni-para-cont-p'>The list of programs is dynamic and might amendment at any purpose of your time. every of those programs comes with its own set of application criteria and is intended for various sorts of candidates. Phoenixshpere helps candidates in creating the proper call to migrate to Canada by serving to them opt for the proper program and helping them throughout their migration program. Our knowledgeable about counsellors are with you at each step of the method as you propose and navigate your migration journey.</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <h2 class='jmj-uni-para-cont-h2'>Choose Your Country</h2>
    </div>
</div>
<app-country-line></app-country-line>
<br>
<div class="container">
    <div class="row">
        <h2 class='jmj-uni-para-cont-h2'>FAQ</h2>
    </div>
</div>
<app-faq></app-faq>
<hr>

<!-- Footer Component Link Start -->
<app-footer></app-footer>
<!-- Footer Component Link End -->