<footer class="cor-bg-color-lightgrayishblue">
    <div class="cor-footer-container cor-footer-bind">
        <div class="cor-footer-section1"> 
            <img src="../../../assets/images/home/zoomium-removebg-preview.png" >
            <p class="cor-footer-section1-para cor-text-14-400-Nunito">
                CORtracker is designed especially for the electronic components distribution 
                industry but flexible enough to accommodate any distribution and inventory needs.
            </p>
        </div>
        <div class="cor-footer-section2">
            <h1 class="cor-text-18-700-Nunito-Sans">Reach us</h1>
            <div class="cor-text-14-400-Nunito cor-div-1">
                <div>21800 Haggerty Rd , Suite #212,</div>
                <div>Northville , MI - 48167</div>
                <div>USA.</div>
                <div class="cor-text-16-400-Nunito"> <b>Phone:</b> +1-248-370-5860</div>
                <div class="cor-text-16-400-Nunito"> <b>Email:</b>  sales@cortracker.com</div>
            </div>
        </div>
        <div class="cor-footer-section3"> 
            <h1 class="cor-text-18-700-Nunito-Sans">About Us</h1>
            <ul class="cor-text-14-400-Nunito cor-color-#696969">
                <li  (click)="openTop()"><a [routerLink]="['/contact']" class="footer-underline">Contact Us</a></li>
                <li  (click)="openTop()"><a [routerLink]="['/aboutus']"  class="footer-underline">About Us</a></li>
                <li>Terms</li>
                <li>Packages</li>
                <li (click)="openFaq()" ><a class="footer-underline">FAQ</a></li>
            </ul>
        </div>
        <div class="cor-footer-section3"> 
            <h1 class="cor-text-18-700-Nunito-Sans">Services</h1>
            <ul class="cor-text-14-400-Nunito">
                <li>Product Engineering</li>
                <li>Inventory Management System Provider</li>
                <li>US IT Recruitment Services</li>
                <li>Marketing Services</li>
                <li><a  class="footer-underline">Finance & Accounting</a></li>
            </ul>
        </div>
        <div class="cor-footer-section3"> 
            <h1 class="cor-text-18-700-Nunito-Sans">Follow us</h1>
            <ul class="cor-text-14-400-Nunito">
                <li><a href="https://www.linkedin.com/company/cortracker-inc/mycompany/" class="footer-underline">Linked in</a></li>
                <li>Facebook</li>
                <li>Instagram</li>
                <li>Twitter</li>
                <li>Youtube</li>
            </ul>
        </div>
    </div>   
    <div class="footer-toe-container cor-bg-color-lightgrayishblue cor-toe-bind cor-text-14-400-Nunito">
        <p>© Copyrights Cortracker Inc {{year}} - {{year + 1}}. &nbsp; All rights reserved.</p>
    </div>
</footer>


