<footer>
    <div class="jmj-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="jmj-footer-headtxt">
                        Jmj Consultancy
                    </div>
                    <br>
                    <p class="jmj-footer-paratxt">
                        The Most Eminent Visas and Immigration Consultant service provider in major metros and overseas with reliability since 1994. We are committed to provide reliable client support.
                    </p>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="jmj-footer-headtxt">
                                Reach us
                            </div>
                            <ul class='jmj-footer-list'>
                                <li class='cl-fblc-a'><b>Call us </b></li>
                                <li class='cl-fblu-c'><b>8897656421</b></li>
                                <li>
                                    502 Kubera Towers, Himayatnagar, Hyderabad, India
                                </li>
                                <li> info@jmjoverseas.org.in </li>
                            </ul>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-sm-3">            
                                    <div class="jmj-footer-headtxt">
                                        About Us
                                    </div>
                                    <ul class='jmj-footer-list'>
                                        <li>Contact us</li>
                                        <li>About us</li>
                                        <li>Terms</li>
                                        <li>Packages</li>
                                        <li>FAQ</li>
                                    </ul>
                                </div>
                                <div class="col-sm-3">            
                                    <div class="jmj-footer-headtxt">
                                        Links
                                    </div>
                                    <ul class='jmj-footer-list'>
                                        <li>Migrate</li>
                                        <li>Work</li>
                                        <li>Study</li>
                                        <li>Visa</li>
                                        <li>Coaching</li>
                                    </ul>
                                </div>
                                <div class="col-sm-3">            
                                    <div class="jmj-footer-headtxt">
                                        Follow us
                                    </div>
                                    <ul class='jmj-footer-list'>
                                        <li>Facebook</li>
                                        <li>Instagram</li>
                                        <li>Twitter</li>
                                        <li>Youtube</li>
                                        <li>Linked In</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer-toe></app-footer-toe>
</footer>
