<div class="cor-body">

    <div class="cor-aboutus-header">
        <h1 class="cor-text-45-600-Nunito-Sans cor-color-lightblue ">IMS(Inventory Management System)</h1>
        <!-- <p class="cor-text-20-400-Nunito-Sans cor-color-slategray">Scroll down for more features</p> -->

        <!-- <div class="symbol">&#5167;</div>
        <div class="hi symbol ">&#5167;</div> -->

        <!-- <div id="down-img-anime">
            <div class="md-sym">
                <img src="../../../assets/images/ims/Vector 3.png" alt=""  class="symbol">
            </div>
            <div class="md-sym">
                <img src="../../../assets/images/ims/Vector 3.png" alt=""  class="symbol hi">
            </div>
      </div> -->
        <h2 class="cor-text-30-600-Nunito-Sans cor-h1">Get Real-Time Inventory Updates</h2>
        <ul class="cor-text-18-400-Nunito cor-ul">
            <li> In each warehouse, view real-time inventory is available
            </li>
            <li> As inventory is depleted, in every channel of business, Cortracker automatically updates stock levels
            </li>
            <li> To support your most profitable channels or customers, control and prioritize stock levels
            </li>
        </ul>

        <!-- Improve Customer Experience  -->
        <div style="margin-bottom: -100px;" class="cor-ims">
            <div class="cor-ims-center"><img class="cor-border  cor-img1"
                    src="../../../assets/images/ims/Group 696 .png">
            </div>
            <div class=" cor-ims-main cor-ims-p">
                <h1 class="cor-text-30-600-Nunito-Sans cor-ims-improve-2">Improve Customer Experience</h1>
                <ul>
                    <!-- <span>
                        <img src="../../../assets/images/ims/Vector 4.png">
                    </span> -->
                    <li class="cor-text-18-400-Nunito cor-color-lightblack"> Avoid stock-outs through Cortracker’s
                        real-time
                        inventory updates
                    </li>
                    <li class="cor-text-18-400-Nunito cor-color-lightblack">Reduce human error through pre-printed pick
                        and
                        ship and packing lists
                    </li>
                    <li class="cor-text-18-400-Nunito cor-color-lightblack"> By analyzing channels of business and
                        product
                        lines, it can help to reduce costs
                    </li>
                </ul>
                <!-- <div><span class="cor-ims-improve"><img src="../../../assets/images/ims/Vector 4.png"></span><span
                    class="cor-text-18-400-Nunito cor-color-lightblack"> Reduce human error through pre-printed pick and
                    ship and packing lists</span></div>
                <div><span class="cor-ims-improve"><img src="../../../assets/images/ims/Vector 4.png"></span><span
                    class="cor-text-18-400-Nunito cor-color-lightblack"> By analyzing channels of business and product
                    lines, it can help to reduce costs</span></div> -->

                <p class="cor-text-18-400-Nunito cor-ims-improve-2 cor-color-lightblack">Creating a single customer view
                    companies, with modern
                    IMS can create a holistic
                    view of each customer, including the history of all their important touchpoints with the
                    company.<br>
                    Easing access to Customer information with a centralized system, its easier for
                    customer-facing teams, to understand the needs and improving management of
                    supply and demand required depending on the customer requirements, which is
                    usually different in nature comparatively.</p>
            </div>
        </div>

    </div>

    <!-- Improve Operations With Real-Time Reporting -->


    <div class="cor-ims cor-ims-res">
        <div style="padding-top: 100px !important;" class=" cor-ims-main cor-ims-p">
            <h1 class="cor-text-30-600-Nunito-Sans cor-ims-improve-2">Improve Operations With Real-Time Reporting</h1>
            <p class="cor-text-18-400-Nunito cor-ims-improve-2 cor-color-lightblack">Timely and Easy Reporting Robust
                IMP systems are all-in-one platforms designed
                for modern big, medium and small enterprises that need powerful reporting
                capabilities to provide an accurate view of their operations in real time.
                Real-time Data to Inform Business Decisions Having access to up-to-the-minute
                data is a major advantage in today’s fast-paced manufacturing settings.</p><br>
            <!-- <div><span class="cor-ims-improve"><img src="../../../assets/images/ims/Vector 4.png"></span>
                <span class="cor-text-18-400-Nunito cor-color-lightblack">Improve inventory turns and margins through insightful reporting</span>
            </div>
            <div><span class="cor-ims-improve"><img src="../../../assets/images/ims/Vector 4.png"></span>
                <span class="cor-text-18-400-Nunito cor-color-lightblack">By viewing current and past data making purchasing decisions quickly</span>
            </div>
            <div><span class="cor-ims-improve"><img src="../../../assets/images/ims/Vector 4.png"></span>
                <span class="cor-text-18-400-Nunito cor-color-lightblack">By analyzing channels of business and product lines, it can help to reduce costs</span>
            </div>
            <div><span class="cor-ims-improve"><img src="../../../assets/images/ims/Vector 4.png"></span>
                <span class="cor-text-18-400-Nunito cor-color-lightblack">To support your profitable channels or customers,control and prioritize stock levels </span>
            </div> -->
            <ul>
                <!-- <span>
                    <img src="../../../assets/images/ims/Vector 4.png">
                </span> -->
                <li class="cor-text-18-400-Nunito cor-color-lightblack"> Improve inventory turns and margins through
                    insightful reporting
                </li>
                <li class="cor-text-18-400-Nunito cor-color-lightblack">By viewing current and past data making
                    purchasing decisions quickly

                </li>
                <li class="cor-text-18-400-Nunito cor-color-lightblack"> By analyzing channels of business and product
                    lines, it can help to reduce costs
                </li>
                <li class="cor-text-18-400-Nunito cor-color-lightblack"> To support your most profitable channels or
                    customers, control and prioritize stock levels
            </ul>
        </div>
        <div class=" cor-ims-main cor-ims-center">
            <img class="cor-img4 cor-border" style="padding-top: 93px; padding-left: 22px ;" src="../../../assets/images/ims/Group 450.png">
        </div>
    </div>


    <!-- Product features -->

    <div class="cor-ims">
        <div class="cor-2 cor-ims-center"><img class="cor-border cor-img2"
                src="../../../assets/images/ims/Group 699.png"></div>
        <div class=" cor-ims-main cor-ims-p">
            <h1 class="cor-text-30-600-Nunito-Sans cor-color-lightblue" id="Product">Product features</h1>
            <div><span class="cor-ims-improve"><img src="../../../assets/images/ims/Vector 41.png"></span><span
                    class="cor-text-18-400-Nunito cor-color-lightblack"> Order Management</span></div>
            <div><span class="cor-ims-improve"><img src="../../../assets/images/ims/Vector 41.png"></span><span
                    class="cor-text-18-400-Nunito cor-color-lightblack"> Inventory Management</span></div>
            <div><span class="cor-ims-improve"><img src="../../../assets/images/ims/Vector 41.png"></span><span
                    class="cor-text-18-400-Nunito cor-color-lightblack"> Barcode System</span></div>
            <div><span class="cor-ims-improve"><img src="../../../assets/images/ims/Vector 41.png"></span><span
                    class="cor-text-18-400-Nunito cor-color-lightblack"> Vendor Management</span></div>
            <div><span class="cor-ims-improve"><img src="../../../assets/images/ims/Vector 41.png"></span><span
                    class="cor-text-18-400-Nunito cor-color-lightblack"> Invoice Management</span></div>
            <div><span class="cor-ims-improve"><img src="../../../assets/images/ims/Vector 41.png"></span><span
                    class="cor-text-18-400-Nunito cor-color-lightblack">Accounting Software</span></div>
            <div><span class="cor-ims-improve"><img src="../../../assets/images/ims/Vector 41.png"></span><span
                    class="cor-text-18-400-Nunito cor-color-lightblack"> Cloud platform with Universal site
                    Access</span></div>
            <div><span class="cor-ims-improve"><img src="../../../assets/images/ims/Vector 41.png"></span><span
                    class="cor-text-18-400-Nunito cor-color-lightblack"> User privileges</span></div>
        </div>
    </div>

    <!-- See How Cortracker Helps You Put The Customer First -->

    <div class="cor-ims cor-ims-res">
        <div class="cor-ims-main cor-ims-see">
            <h1 class="cor-text-30-600-Nunito-Sans ">See How Cortracker Helps You Put The Customer
                First</h1>
            <p class="cor-text-18-400-Nunito cor-ims-improve-2 cor-color-lightblack">Cortracker powers your entire
                wholesale distribution business by providing you with the insights needed to sell more to happy
                customers. If you’d like to learn how Cortracker consolidates customer, order and inventory management
                software into one application, we’ll be happy to customize a demo based on your business and needs.</p>
            <br>
            <p class="cor-text-18-400-Nunito cor-ims-improve-2 cor-color-lightblack">Streamlining backend business
                processes CORtracker software helps
                companies: deliver goods to customers faster, improve productivity, and
                implement precise inventory control.<br>
                Matching supply with demand and with order fulfilment by connecting sales
                order management.<br>
                Improving user experience and enabling access to the information you need
                to serve the customer in best possible manner.</p>
        </div>
        <div class="  cor-1 cor-ims-center">
            <img class="cor-border cor-img3" src="../../../assets/images/ims/Group 712.png">
        </div>
    </div>

</div>