<div class="cor-aboutus-main">
    <div class="row cor-gallerytone-box">
        <div class="col-3">
            <img class="cor-aboutus-mob1 anime" src="../../../assets/images/about-us/Rectangle 36.png" alt="" srcset="">
        </div>
        <div class="col-3">
            <img class="cor-aboutus-mob2 anime" src="../../../assets/images/about-us/Rectangle 37.png">
            <img class="cor-aboutus-mob2 anime" src="../../../assets/images/about-us/Rectangle 38.png">
        </div>
    </div>
    <div class="row cor-gallerytone-box">
        <div class="col-3"> 
            <img class="hidden anime" src="../../../assets/images/about-us/Rectangle 40.png" alt="" srcset="" style='height:56.27%'>
            <img class="cor-aboutus-mob3 anime" src="../../../assets/images/about-us/Rectangle 39.png">
        </div>
        <div class="col-3 hidden">
            <img class="hidden anime" src="../../../assets/images/about-us/Rectangle 41.png" alt="" srcset="">
        </div>
    </div>
</div>