.anime{
    transition: transform .4s;
}
.anime:hover{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1); 
}


.cor-aboutus-main{
    width: 100%;
    max-width: 1440px;
    margin: auto;
    padding: 0px 80px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cor-gallerytone {
    padding-bottom: 20px;
}

.cor-gallerytone-box {
    display: flex;
    flex-direction: row;
    // height: 440px;
    // justify-content: center;
    // margin: auto;
    // width: 90%;
}

.cor-gallerytone-box>.col-3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
}

@media only screen and (max-width: 600px) {
    .hidden {
        display: none;
    }
    .cor-aboutus-main{
        flex-direction: column;
    }
    .cor-gallerytone-box{
        justify-content: center;
    }

    .cor-aboutus-mob1 {
        width: 146px;
        height: 214px;
        border-radius: 27px;
    }
    .cor-aboutus-mob2 {
        width: 136px;
        height: 105px;
        border-radius: 27px;
    }
    .cor-aboutus-mob3 {
        width: 286px;
        height: 138px;
        border-radius: 27px;
    }
}



@media only screen and ((min-width: 601px) and (max-width:1100px) ){
    .cor-aboutus-main{
        width: 100%;
        max-width: 1440px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    }