.cor-body-c{
    margin-top: -96px;
}
.cor-staffing-main{
    max-width: 100vw;
    margin: auto;
}

.cor-staffing-section1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    // width: 100%;
}
.cor-section-div1{
        display: flex;
        flex-direction: row;
        max-width: 1440px;
        justify-content: center;
        align-items: center;
        padding-left: 100px;
        margin: auto;
}

.cor-section2-main{
    display: flex;
    flex-direction: row;
    max-width: 1440px;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    margin: auto;
    gap: 50px;
       
}
.cor-section2-div1{
    display: flex;
    flex-direction:column;
    gap: 50px;
    width: 690px;
}


// ======================================================================


.cor-flex{
    display: flex;
    max-width: 1440px;
    justify-content: center;
    align-self: center;
}
.cor-gap1{
    gap: 10px;
}
.cor-gap2{
    gap: 17px;
}
.cor-gap3{
    gap: 37px;
}
.cor-gap4{
    gap:24px;
}
.cor-flex-1{
    display: flex;
    flex-direction: column;
    gap: 0px;
    ul{
        list-style-image: url('../../../assets/images/services/Vector 10.png');
        
    }
    li{
        padding: 5px;
        
    }
}
.cor-padding-top {
    padding-top: 50px;
}
.cor-padding-right {
    padding-right: 10px;
}
.cor-padding-right1 {
    padding-right: 35px;
}

.cor-padding-bottom {
    padding-bottom: 15px;
}
.cor-padding-left10 {
    padding-left: 10px;
}
.cor-padding-left15 {
    padding-left: 15px;
}
.cor-padding-left20 {
    padding-left: 20px;
}
.cor-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cor-c {
    display: flex;
    align-items: center;
    justify-content: start;
}
.cor-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    // max-width: 1440px;
}

.cor-d1{
    background: #ECEDF2;
    padding-top: 26px;
    padding-bottom: 30px;
    gap: 50px;
}
.cor-d2{
    // width: 769px;
}
.cor-d2-child {
    width: 300px;
}
.cor-d2-child2 {
    width: 300px;
}
.cor-d2-child3 {
    width: 300px;
}

.cor-d3{
    padding-top: 30px;
    padding-bottom: 38px;
    box-sizing: border-box;
}

.cor-md-global{
    text-align: center;
    padding-top: 50px;
}


@media only screen and (max-width: 600px){
    p{
        font-size: 12px;
    }
    .cor-padding-top{
        padding-top: 0px;
    }
    .cor-padding-bottom{
        padding-bottom: 0px;
    }
    .cyber-list{
        padding-left: 30px;
        li{
            font-size: 12px;
        }
    }
    .cor-section-div1{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       padding: 0px;
      img{
        max-width: 297px;
        height: 172px;
      }
    }
    .cor-staffing-section1{
         max-width:  100%;
        
        
    }
    .cor-section-div2{
      
       max-width: 100vw;
       h1{
        font-size: 30px;
       }
       p{
        max-width: 296px;
        font-size: 12px;
       }
   
    }
    .cor-d1{
        padding: 30px;
    }

    .cor-section2-main{
        padding: 30px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        img{
            max-width: 297px;
            height: 172px;
        }
    }
    .cor-section2-div1{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .cor-section2-div2{
        max-width:100%;
        h1{
            font-size: 18px;
            padding-bottom: 10px;
        }
        p{
            font-weight: 400;
        }
    }
    // ----------------------------section2------------------
   .cor-md-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .cor-flex{
    // padding: 20px;
    max-width: 100%;
    p{
        font-size: 12px;
    }
   
   }
   .staffing-speed-heading{
    font-size: 16px;
    font-weight: 600;
    text-align: center;

   }
   .cor-md-2{
    max-width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;

   }
   .cor-md-img1{
    width: 100%;
    height: 240px;
   }
   .cor-md-img2{
    width: 100%;
    height: 183px;

   }
   .cor-md-img3{
    max-width: 100vw;
    height: 225px;
   }
   .cor-md-joboffer{
    font-size: 16px;
    
   }
   .cor-md-jobofferdiv{
    // padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
   }
   .cor-md-global{
    font-size: 16px;
   }
   .cor-md-gap{
    padding-top: 20px;
    h1{
        width: 100%;
    }
    p{
        width: 100%;
    }
   }
   .cor-flex-1{
    padding: 15px;
   }
   
   }

   
   @media only  screen and ((min-width: 601px) and (max-width: 1100px)){

    .cor-section-div1{
       display: flex;
    //    flex-direction: column;
       justify-content: center;
       align-items: center;
       padding-top: 130px;
       padding-left: 0px;
       gap: 30px;
      img{
        max-width: 297px;
        height: 172px;
      }
    }
    .cor-staffing-section1{
         max-width:  100%;
         padding: 30px;
        
    }
    .cor-section-div2{
      
       max-width: 100vw;
       h1{
        font-size: 30px;
       }
       p{
        max-width: 296px;
       }
   
    }
    .cor-d1{
        padding: 30px;
    }

    .cor-section2-main{
        padding: 30px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        img{
            max-width: 297px;
            height: 172px;
        }
    }
    .cor-section2-div1{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .cor-section2-div2{
        max-width:100%;
        h1{
            font-size: 18px;
            padding-bottom: 10px;
        }
        p{
            font-weight: 400;
        }
    }
    // ----------------------------section2------------------
   .cor-md-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   }
   .cor-flex{
    // padding: 20px;
    max-width: 100%;
    p{
        font-size: 12px;
    }
   
   }
   .staffing-speed-heading{
    font-size: 16px;
    font-weight: 600;
    text-align: center;

   }
   .cor-md-2{
     width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top:0px;

   }
   .cor-md-img1{
    width: 100%;
    height: 240px;
   }
   .cor-md-img2{
  
    height: 300px;

   }
   .cor-md-img3{
    max-width: 100vw;
 
   }
   .cor-md-joboffer{
    font-size: 16px;
    
   }
   .cor-md-jobofferdiv{
    // padding: 20px;
    display: flex;
    justify-content: center;
    
   }
   .cor-md-global{
    font-size: 16px;
   }
   .cor-md-gap{
    padding-top: 20px;
    h1{
        width: 100%;
    }
    p{
        width: 100%;
    }
   }
   .cor-flex-1{
    padding: 15px;
   }
   
   }



