<div class="cor-body-c">
    <div class="cor-staffing-main">
        <div class="cor-staffing-section1 cor-bg-color-lightgrayishblue">
            <div class="cor-section-div1">
                <div class="cor-section-div2">
                    <h1 class="cor-text-45-600-Nunito-Sans cor-color-lightblue ">Staffing</h1><br>
                    <p class="cor-text-16-400-Nunito">CORtracker Inc. helps your company by solving the technological,
                        operational, and business difficulties and providing solutions in many forms. Our platform of
                        solutions controls the complexity of the business so that you may concentrate on your primary
                        customer demands and business operations. </p> <br>

                    <p class="cor-text-16-400-Nunito">We are immensely successful in creating a global network of a
                        highly adept intelligent workforce that can help achieve critical projects and goals. Keeping
                        pace with projects and being on the lookout for extremely talented individuals. We here in
                        CORtracker put our employees priority at the highest importance.</p>

                </div>
                <img src="../../../assets/images/staffing/workimg.png" alt="" class="cor-section1-img">
            </div>

        </div>

        <!-----------candidate-------- -->

        <div class="cor-section2-main">
            <img src="../../../assets/images/staffing/section2img.png" alt="" class="cor-section2-img">
            <div class="cor-section2-div1">
                <div class="cor-section2-div2">
                    <h1 class="cor-text-30-600-Nunito-Sans cor-color-black">Drive Your Candidate Experience</h1>
                    <p class="cor-text-16-400-Nunito cor-color-lightblack">The human aspect of the business is created,
                        improved, managed, and developed through our approach while taking into account the
                        organization's resourcefulness in terms of its capabilities, skills, creativity, knowledge,
                        potential, and talents.</p>
                </div>
                <div class="cor-section2-div2">
                    <h1 class="cor-text-30-600-Nunito-Sans">Our Recruiting methods</h1>
                    <p class="cor-text-16-400-Nunito">In contrast to other service providers, we CORtracker that our
                        hiring procedure is native. It is because every step of this procedure has been pre-planned and
                        assigned to specific people. This is one of the clients' chosen service providers due to the
                        process distribution percentage. The main critical steps of our method are listed below.</p>
                </div>

            </div>
        </div>
        <!-- <app-job-offered-component></app-job-offered-component> -->
        <div class="cor-body">
            <div class="cor-flex-1 cor-center cor-d1 cor-gap4">
                <h2 class="cor-text-30-600-Nunito-Sans staffing-speed-heading ">Staffing at the Speed of Insight</h2>
                <div class="cor-flex cor-gap2  cor-md-1">
                    <div class="cor-flex cor-center cor-gap2 cor-md-gap">
                        <img src="../../../assets/images/staffing-2/counselling.png" alt="">
                        <div class="cor-d2-child">
                            <h2 class="cor-text-24-400-Nunito-Sans ">Skill Verification</h2>
                            <p class="cor-text-16-400-Nunito cor-color-lightblack">Having an advisory council of
                                different experts and technical experts. The candidate's profile and background will be
                                carefully examined.</p>
                        </div>
                    </div>
                    <div class="cor-flex cor-center cor-gap2 cor-md-gap">
                        <img src="../../../assets/images/staffing-2/resumeWriting.png" alt="">
                        <div class="cor-d2-child2">
                            <h2 class="cor-text-24-400-Nunito-Sans">Client Approvals</h2>
                            <p class="cor-text-16-400-Nunito cor-color-lightblack">In addition, we offer fully equipped
                                screening blocks for the customer on our property.</p>
                        </div>
                    </div>
                    <div class="cor-flex cor-center cor-gap2 cor-md-gap">
                        <img src="../../../assets/images/staffing-2/jobOppurtunity.png" alt="">
                        <div class="cor-d2-child">
                            <h2 class="cor-text-24-400-Nunito-Sans">Our Clientele</h2>
                            <p class="cor-text-16-400-Nunito cor-color-lightblack">We have a wide variety of clients in
                                many different areas, including the banking, insurance, telecom, and clothing
                                industries, to name a few prestigious ones.</p>
                        </div>
                    </div>
                </div>
                <div class="cor-flex cor-gap1 cor-md-1">
                    <div class="cor-flex cor-center cor-md-gap">
                        <img src="../../../assets/images/staffing-2/skillAnalysisReport.png" alt="" width="85px">
                        <div class="cor-d2-child cor-padding-left20">
                            <h2 class="cor-text-24-400-Nunito-Sans">Quality Aspect</h2>
                            <p class="cor-text-16-400-Nunito cor-color-lightblack">We keep quality in our mind always,
                                hence we provide long term quality professional through our dedicated consulting for
                                specialized areas with the process involved each time the requirement is placed.</p>
                        </div>
                    </div>
                    <div class="cor-flex cor-center cor-gap4 cor-md-gap">
                        <img src="../../../assets/images/staffing-2/linkedinMarketing.png" alt="" width="80px">
                        <div class="cor-d2-child2">
                            <h2 class="cor-text-24-400-Nunito-Sans">Reachable</h2>
                            <p class="cor-text-16-400-Nunito cor-color-lightblack">The presence of our network with the
                                leading consultants throughout the country gives us an added advantage in time consuming
                                and referrals across all industry and functions with domain experts to anchor specific
                                industry verticals.</p>
                        </div>
                    </div>
                    <div class="cor-flex cor-center cor-md-gap">
                        <img src="../../../assets/images/staffing-2/job1.png" alt="" width="100px"
                            class="cor-padding-right">
                        <div class="cor-d2-child3 cor-padding-right1">
                            <h2 class="cor-text-24-400-Nunito-Sans">Economical Services</h2>
                            <p class="cor-text-16-400-Nunito cor-color-lightblack ">Our services are more economical and
                                reliable as compared with other solution providers. We are more flexible in all modes of
                                business decisions of the clients.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cor-flex cor-center cor-gap4 cor-padding-top cor-md-2" style="padding: 30px; box-sizing: border-box;">
                <div class="cor-flex-1 cor-gap3 cor-d2 ">
                    <h2 class="cor-text-30-600-Nunito-Sans cor-md-joboffer">JOBS OFFERED</h2>
                    <div class="cor-flex-1 cor-gap2 cor-md-jobofferdiv ">
                        <p class="cor-text-16-400-Nunito cor-color-lightblack cor-padding-bottom">CORtracker is the
                            Vanguard in
                            providing speciality opportunities</p>
                        <!-- <div class="cor-flex-1 cor-gap1 ">
                                <div class="cor-flex cor-gap2 ">
                                    <span><img src="../../../assets/images/icons/Vector-4.png" alt=""></span><span
                                        class="cor-text-16-400-Nunito cor-color-lightblack">Cyber Security, Full stack
                                        Developer</span>
                                </div>
                                <div class="cor-flex cor-gap2">
                                    <span><img src="../../../assets/images/icons/Vector-4.png" alt=""></span><span
                                        class="cor-text-16-400-Nunito cor-color-lightblack">Internship oppurtunities</span>
                                </div>
                                <div class="cor-flex cor-gap2">
                                    <span><img src="../../../assets/images/icons/Vector-4.png" alt=""></span><span
                                        class="cor-text-16-400-Nunito cor-color-lightblack">Data scientist</span>
                                </div>
                                <div class="cor-flex cor-gap2">
                                    <span><img src="../../../assets/images/icons/Vector-4.png" alt=""></span><span
                                        class="cor-text-16-400-Nunito cor-color-lightblack">UI and UX Developers</span>
                                </div>
                                <div class="cor-flex cor-gap2">
                                    <span><img src="../../../assets/images/icons/Vector-4.png" alt=""></span><span
                                        class="cor-text-16-400-Nunito cor-color-lightblack">QA Testing</span>
                                </div>
                                <div class="cor-flex cor-gap2">
                                    <span><img src="../../../assets/images/icons/Vector-4.png" alt=""></span><span
                                        class="cor-text-16-400-Nunito cor-color-lightblack">Web designing</span>
                                </div>
                            </div> -->
                        <ul class="cyber-list">
                            <li class="cor-text-16-600-Nunito cor-color-lightblack">Cyber Security, Full stack Developer
                            </li>
                            <li class="cor-text-16-600-Nunito cor-color-lightblack">Internship oppurtunities</li>
                            <li class="cor-text-16-600-Nunito cor-color-lightblack">Data scientist</li>
                            <li class="cor-text-16-600-Nunito cor-color-lightblack">UI and UX Developers</li>
                            <li class="cor-text-16-600-Nunito cor-color-lightblack">QA Testing</li>
                            <li class="cor-text-16-600-Nunito cor-color-lightblack">Web designing</li>

                        </ul>
                        <p class="cor-text-16-400-Nunito cor-color-lightblack">We give the finest opportunity for
                            applicants to
                            demonstrate their expertise while also guaranteeing that they are qualified for the
                            positions that
                            the firms expect of them. Identifying the company's requirements is also a task in order to
                            help it
                            expand and achieve greater heights. Candidates receive the finest training available and are
                            properly cared with contemporary facilities and services, including lodging. For their
                            benefit,
                            dental and medical insurance are provided. We make them feel at ease and at home as
                            Cortracker</p>
                    </div>

                </div>

                <img src="../../../assets/images/staffing-2/image-3.png" alt="" class="cor-md-img1">
            </div>

            <div class="cor-text-30-600-Nunito-Sans cor-md-global">Global Presence</div>


            <div class="cor-flex-1 cor-center cor-gap4 cor-d3">

                <img class="cor-center" src="../../../assets/images/staffing-2/Group-174.png" alt=""
                    class="cor-md-img2">
                <img class="cor-center" src="../../../assets/images/staffing-2/Group.png" alt="" class="cor-md-img3">
            </div>
        </div>
    </div>
</div>