<div class=" conatiner-fluid cl-bgey-a jmj-ourser-cont cl-bgry-a">
    <div class="container">
        <div class="row">
            <h2 class='jmj-uni-para-cont-h2'>Our Services</h2>
        </div>
        <div class="row jmj-ouser-cbox">
            <div class="col-md-4 jmj-ouser-box">
                <img src="../../../assets/images/ourServices/skillAnalysisReport.png" alt="">
                <div>
                    <h2>Skill  Analysis Report</h2>
                    <p>Our team will completely Analyse your skills to find a perfect job position globally and to put you in the best country. </p>
                </div>
            </div>
            <div class="col-md-4 jmj-ouser-box">
                <img src="../../../assets/images/ourServices/jobSearch.png" alt="">
                <div>
                    <h2>Job Search</h2>
                    <p> we  produce a comprehensive report supported your profile and choose on positioning it in your target country</p>
                </div>
            </div>
            <div class="col-md-4 jmj-ouser-box">
                <img src="../../../assets/images/ourServices/resumeWriting.png" alt="">
                <div>
                    <h2>Reseume Writing</h2>
                    <p>We provide sessions to help you write your own resumes which will make you independent when you apply jobs in future.</p>
                </div>
            </div>
            <div class="col-md-4 jmj-ouser-box">
                <img src="../../../assets/images/ourServices/jobOppurtunity.png" alt="">
                <div>
                    <h2>Job Oppurtunity</h2>
                    <p> we have a tendency to produce a detail report supported your profile and choose on positioning it in your target country  </p>
                </div>
            </div>
            <div class="col-md-4 jmj-ouser-box">
                <img src="../../../assets/images/ourServices/linkedinMarketing.png" alt="">
                <div>
                    <h2>Linked in Marketing</h2>
                    <p>We make your Linkedin Profile look perfect for the position that you are searching for a far more reach on the Social Grounds. </p>
                </div>
            </div>
            <div class="col-md-4 jmj-ouser-box">
                <img src="../../../assets/images/ourServices/counselling.png" alt="">
                <div>
                    <h2>Counselling</h2>
                    <p> We offer best in class counselling on how to select your Country, Visa and all other Visa and Post-Visa Works.</p>
                </div>
            </div>
        </div>
    </div>
</div>