<header>
    <div class='jmj-header-sl'>
        <div class="container">
            <div class='row'>
                <div class='jmj-header-slin'>
                    <div class='jmj-header-slin-left'>
                        <div class='jmj-header-slin-la'>
                            <span class="material-icons-outlined md-18">
                                alarm
                            </span>
                            <div> Sat-Thus 8:00 am -8:00 pm </div>
                        </div>
                        <div class='jmj-header-slin-lb'>
                            <span class="material-icons-outlined md-18">
                                location_on
                            </span>
                            <div>Himayatnagar, Hyderabad, India </div>
                        </div>
                    </div>
                    <div class='jmj-header-slin-right'>
                        <div class='jmj-header-slin-la'>
                            <span class="material-icons-outlined md-18">
                                email
                            </span>
                            <div>info@jmjoverseas.org.in</div>
                        </div>
                        <div class='jmj-header-slin-lb cl-bylw-a cl-fwit-a'>
                            <span class="material-icons md-18">
                                call
                            </span>
                            <div>+91 8897656421 </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="jmj-header-main cl-bgey-a">
        <div class='container'>
            <div class='row'>
                <div class="jmj-header-mnin">
                    <div class="jmj-header-mnin-first">
                        Jmj Consultancy
                    </div>
                    <div class="jmj-header-mnin-second">
                        <ul class="jmj-header-mnin-menu-ul">
                            <li><a [routerLink] = "['/']">Home</a></li>
                            <li class="jmj-header-mnin-menu-dropdown">
                                <span>
                                        Visa & Immigration 
                                    <span class="material-icons-outlined">
                                        expand_more
                                    </span>
                                </span>
                                <ul class='jmj-header-mnin-menu-dropdown-content-a cl-bwit-a'>
                                    <span class='jmj-pointer-triangle'></span>
                                    <li><a [routerLink] = "['/immigrationvisa']">Immigration Visa</a></li>
                                    <li><a [routerLink] = "['/nonimmigrationvisa']">Non - Immigration visa</a></li>
                                </ul>
                            </li>
                            <li><a [routerLink] = "['/postvisa']">Post-Visa</a></li>
                            <li><a [routerLink] = "['/coaching']">Coaching</a></li>
                            <li><a [routerLink] = "['/aboutus']">About Us</a></li>
                            <!--<li class="jmj-header-mnin-menu-dropdown">
                                <span>
                                   Visa
                                <span class="material-icons-outlined">
                                    expand_more
                                </span>
                            </span>
                                <ul class='jmj-header-mnin-menu-dropdown-content-a cl-bwit-a'>
                                    <span class='jmj-pointer-triangle'></span>
                                    <li>Business Visa</li>
                                    <li>Student Visa</li>
                                    <li>Visiting Visa</li>
                                    <li>Work Visa</li>
                                </ul>
                            </li>-->
                        </ul>
                        <a [routerLink] = "['/contact']"><button class='cl-bblu-b cl-fwit-a jmj-but-a'>
                            Get a Consultation
                        </button></a>
                    </div>
                    <div class='jmj-header-mnin-mobile'>
                        <span class="material-icons-outlined" id='jhmob-menu'>
                            menu
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="jmj-header-mobile-menu cl-bgey-a" id='jhmob-mlist'>
        <div class="jmj-header-mobmenu-head">
            <span>
                Jmj Consultancy
            </span>
            <span class="material-icons-outlined" id='jhmob-mclose'>
                close
            </span>
        </div>
        <div class="jmj-header-mobmenu-list">    
            <ul>
                <li><a [routerLink] = "['/']">Home</a></li>
               <!-- <li class="jmj-header-mobmenu-dropdown ">
                    <div class='jmj-header-mobmenu-dropdown-but'>
                        Migrate
                    <span class="material-icons-outlined">
                        expand_more
                    </span>
                    </div>
                    <ul class='jmj-header-mobmenu-dropdown-content'>
                        <li>Canada </li>
                        <li>Australia</li>
                        <li>Investor / Business</li>
                    </ul>
                </li>-->
                
                <li><a [routerLink] = "['/immigrationvisa']">Immigration Visa</a></li>
                <li><a [routerLink] = "['/nonimmigrationvisa']">Non - Immigration visa</a></li>
                <li><a [routerLink] = "['/postvisa']">Post-Visa</a></li>
                <li><a [routerLink] = "['/coaching']">Coaching</a></li>
                <li><a [routerLink] = "['/aboutus']">About Us</a></li>
            </ul>
        </div>
        <div class="jmj-header-mobmenu-cdetails">
            <div class='container'>
                <div class="row">
                    <div class="col-sm">
                        <div class='jmj-header-slin-la'>
                            <span class="material-icons-outlined md-18">
                                email
                            </span>
                            <div>info@jmjoverseas.org.in</div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class='jmj-header-slin-lb cl-bylw-a cl-fwit-a'>
                            <span class="material-icons md-18">
                                call
                            </span>
                            <div>+91 8897656421 </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
    