/* JMJ SMALL Header Open */
.fa-chevron-down {
    padding-left: 10px;
    animation: arrow-down 1s 2;
}
@keyframes arrow-down {
    0% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
/* Rotate the arrow down */
.dropping {
    position: relative;
    display: inline-block;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #202124;
    text-decoration: none;
}
.dropbtn {
    cursor: pointer;
    width: 100%;
    background-color: transparent;
}

.dropdown-content {
    border-radius: 10px;
    display: none;
    position: absolute;
    width: 220px;
    background: #fff;
    text-align: left;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    .cor-try{
        padding-top: 1px;
        width: 100%;
        height: 2px;
        background: #F9AB00 ;
    }
    .cor-try1{
        padding: 10px;
    }



    // background: linear-gradient(270deg, rgba(253, 253, 253, 0.86) 60.54%, rgba(253, 253, 253, 0.86) 100.97%);
    // border-radius: 1px;
    // min-width: 160px;
    // box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);


    // a{
    //     div{
    //         width: 160px;
    //     }
    // }

}
.cor-triangle-up {
    display: none;
    // position: absolute;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #F9AB00;
}

.staffing-link {
    color: black;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
    // border-radius:20px;
    // padding: 15px;
    text-align: start;
    // pointer-events: none;
    transition: transform .2s;
}

.staffing-link:hover {
    -ms-transform: scale(1.2);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.1);
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dropdown-content a:hover {
    // background-color: #f1f1f1;
    // padding-bottom: 2px;
    // --bg-h: 2px;
}

.dropping:hover .dropdown-content {
    display: block;
    // padding-bottom: 2px;
    // --bg-h: 2px;
}
.dropping:hover .cor-triangle-up{
    display: block;
}

// ===========================================================================================


#arrow {

    color: #000;
    /* initial color */
    animation: color-change 1s linear;
    animation-iteration-count: infinite;
}

@keyframes color-change {
    0% {
        color: #000;
    }

    100% {
        color: red;
    }
}

.cor-header-slin {
    width: 100%;
    display: flex;
    background-color: transparent;
    flex-direction: row;
    // max-width: 2000px;
    margin: auto;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    // position: absolute;
    // padding: 1.618em 0 0;
    // margin-bottom: 3.631em;
    // border-bottom: 4px double #e8e4e3;
    clear: both;
    background: transparent;
    // position: fixed;
}

.cor-header-slin-la,
.cor-header-slin-lb {
    display: flex;
    flex-direction: row;
    height: 50px;
}


.hi {
    background: linear-gradient(0deg, slateblue, slateblue) no-repeat right bottom / 0 var(--bg-h);
    transition: background-size 350ms;
    --bg-h: 100%;

}

.hi:where(:hover, :focus-visible) {
    background-size: 100% var(--bg-h);
    background-position-x: left;

}

.underline {
    padding-bottom: 2px;
    --bg-h: 2px;

}

.hi {
    text-decoration: none;
    color: inherit;
    line-height: 1;
}




.cor-header-slin-la,
.cor-header-slin-lb {
    gap: 10px;
    font-size: 1em;
    font-weight: 400;
    padding: 0.8em;
    box-sizing: border-box;
    align-items: center;
}


.cor-header-main {
    position: sticky;
    top: 0;
    width: 100%;
    max-width: 1440px;
    margin: auto;
    margin-top:15px;
    box-sizing: border-box;
    // background: linear-gradient(270deg, rgba(253, 253, 253, 0.86) 0%, rgba(253, 253, 253, 0) 100.97%);
    // padding: 50px ;
    // margin-bottom: 3.631em;
    // border-bottom: 4px double #e8e4e3;
    // clear: both;
    // position: fixed;
    z-index: 1000;
    /* From https://css.glass */
    // backdrop-filter: blur(13px) saturate(200%);
    // -webkit-backdrop-filter: blur(13px) saturate(200%);
    // background-color: rgba(255, 255, 255, 0.16);


    border-width: 10px;
    border-style: dashed;
    border-image: url('../../../assets/images/home/0101.png') 9 9 round;

}


.cor-header-main-div1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    // max-width: 1440px;
    width: 100%;
    margin: auto;
    // padding-right: 50px;
    // padding-top: 10px;
    // padding-bottom: 10px;

    // background-color: #FFFF;
    // border-radius: 15px;
    border: 2px solid transparent;
    ul{
        padding-right: 30px;
    }
    background: rgba(175, 174, 164, 0.5);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;

    // border-image-source:url('../../../assets/images/home/0101.png');  
    // border-image-repeat: stretch;
    // border-image-slice: 10;
    // border-image-width: 10px;
    // border-image-outset: 4px;




    // border-width: 10px;
    // border-style: dashed;
    // border-image: url('../../../assets/images/home/0101.png') 9 9 round;
}



.cor-header-logo {
    padding-left: 61px;
    box-sizing: border-box;
    max-height: 61px;
    object-fit: cover;
}

.cor-mob-menu-icon {
    display: none;
}

.drop {
    display: none;
    box-sizing: border-box;
}

.drop-down {
    font-family: Nunito Sans;
    height: 100vw;
    font-weight: 600;
    background-color: #F5F5F5;
    color: #202124;
    text-align: center;
    font-size: 10px;
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    margin: auto;

    h1 {
        padding-top: 20px;
        border-bottom: 0.1px solid #f2f3f5;
    }
}


/* JMJ MAIN Header Open*/

.cor-header-mnin-menu-ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    align-items: center;
    margin: 0;
    gap: 50px;
}

.cor-header-mnin-menu-ul>li {
    cursor: pointer;
    font-weight: 600px ! important;
    transition: 0.2s;
    padding: 0.5em 0;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
}

.cor-header-mnin-menu-ul>li:hover {
    color: #F9AB00;
    transition: 0.2s;
}

.cor-header-mnin-menu-dropdown {
    position: relative;
    display: inline-block;
}

.cor-header-mnin-menu-dropdown>span {
    display: flex;
    align-items: center;
    margin: 0;
}

.cor-header-mnin-menu-dropdown-content-a {
    display: none;
    position: absolute;
    min-width: 280px;
    list-style: none;
    margin-top: 8px;
    font-size: 1.5em;
    font-weight: 600;
    padding: 1em 1.5em;
    z-index: 1;
    border-top: 7px solid #F9AB00;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    color: #696969;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.13);
}

.cor-header-mnin-menu-dropdown-content-a>li {
    padding: 5px 0;
}

.cor-header-mnin-menu-dropdown-content-a>li:hover {
    color: #302EA7;
}

.cor-header-mnin-menu-dropdown:hover .cor-header-mnin-menu-dropdown-content-a {
    display: block;
}

.cor-header-mnin-menu-dropdown-content-b {
    padding: 5px 0 0px 15px;
}

.cor-header-mnin-menu-dropdown-content-b>li {
    padding: 5px 0 0 0;
    font-size: 1em;
    font-weight: 400;
}

.cor-header-mnin-menu-dropdown-content-b>li:hover {
    color: #302EA7;
    font-weight: 600;
    transition: 0.2s;
}

.cor-pointer-triangle {
    width: 0;
    height: 0;
    top: -17px;
    position: absolute;
    left: 10px;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 10px solid #F9AB00;
}

.cor-header-mnin-mobile {
    display: none;
    padding: 2.2em;
}

.cor-header-mobile-menu {
    width: 100%;
    height: 100%;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
    flex-direction: column;
    padding: calc(1em + 0.5rem);
    justify-content: space-between;
}

.cor-header-mobmenu-head {
    display: flex;
    padding: 1.2em;
    flex-direction: row;
    justify-content: space-between;
}

.cor-header-mobmenu-list {
    flex-grow: 1;
}

.cor-header-mobmenu-list>ul {
    height: 100%;
    justify-content: center;
    display: flex;
    padding: 1.2em;
    transition: 0.2s;
    flex-direction: column;
    gap: 0.75em;
}

.cor-header-mobmenu-list ul li {
    display: flex;
    transition: 0.2s;
    font-size: 1.5em;
    font-weight: 800;
}

.cor-header-mobmenu-dropdown {
    display: flex;
    flex-direction: column;
    transition: all .5s ease;
    align-content: flex-start;
    transition: 0.2s;
}

.cor-header-mobmenu-dropdown-content {
    min-width: 200px;
    list-style: none;
    height: 0;
    font-size: 0.5em;
    font-weight: 600;
    padding-left: 2em;
    opacity: 0;
    transition: 0.1s;
    color: #696969;
}

.cor-header-mobmenu-dropdown-content>li {
    padding: 0.2em 0;
}

.cor-header-mobmenu-dropdown:hover .cor-header-mobmenu-dropdown-content {

    opacity: 1;
    height: auto;
}

.cor-header-mobmenu-dropdown-but {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.contact-top-section {
    height: 146px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    width: 100vw;
}

.cor-contactus-box {
    margin: 0px;
    padding: 40px 0;
    text-align: center;

    p {
        font-size: 12px;
        margin-top: 0px;
    }

    h1 {
        font-size: 25px;
    }
}







.header-list-a {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #202124;
    text-decoration: none;

}

.cor-header2 {
    text-align: center;
    margin: auto;
    width: 90%;
    box-sizing: border-box;
    background: radial-gradient(90.51% 159.88% at 14.97% 50%, rgba(223, 223, 223, 0.6) 0%, rgba(232, 233, 232, 0.6) 16.96%, rgba(211, 220, 211, 0.6) 100%);
    border-radius: 20px;
    height: 82px;
}

.cor-center {
    height: 82px;
}
.cor-selected{
    color: #1967D2;
    font-size: 18;
    font-weight: 800;
    border-bottom: 2px solid #1967D2 ;
    // background: black;
}
// .cor-bg{
//     background: #fff;
// }


@media screen and (max-width: 1100px) {
    .drop {
        display: block;
        font-family: Nunito Sans;
        height: 50vh;
        font-weight: 600;
        background-color: #F5F5F5;
        color: #202124;
        text-align: center;
        font-size: 10px;
        padding: 10px;
        position: fixed;
        width: 100vw;
        z-index: 1000;

        h1 {
            padding-top: 20px;
            border-bottom: 0.1px solid #f2f3f5;
        }

    }

    .cor-header-mnin-menu-ul {
        display: none !important;
    }

    .cor-mob-menu-icon {
        display: block;
    }

    .cor-header-main {
        padding: 10px 50px 10px 30px;

    }

    .drop {
        display: block;
        text-align: center;
    }
}
/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
    .cor-header-main-div {
        border: none;
        background-color: red;
    }

}

@media (max-width: 1200px) {
    .cor-header-mnin-second button {
        display: none;
    }
}

@media screen and ((min-width: 601px) and (max-width:1100px)) {
    #cor-h-main {
        background: white;
        border-image-source: none;
    }

    .drop {
        display: block;
        font-family: Nunito Sans;
        height: 50vw;
        font-weight: 600;
        background-color: #F5F5F5;
        color: #202124;
        text-align: center;
        font-size: 10px;
        padding: 10px;
        position: fixed;
        width: 100vw;
        z-index: 1000;

        h1 {
            padding-top: 20px;
            border-bottom: 0.1px solid #f2f3f5;

        }

    }

    .cor-header-mnin-second {
        display: none;
    }

    .cor-header-slin {
        display: none;
    }

    .cor-header-mnin-mobile {
        display: block;
    }

    .cor-header-main {
        margin-top: 0;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.60);
    }

}
@media screen and ((min-width: 200px) and (max-width:1100px)) {
    .cor-header-main {
        // border-width: n;
        border-style: none;
        border-image: none;
    }

    .cor-header-slin {
        display: none;
    }

    .cor-header-main {
        padding: 5px 5px 5px 5px;
        margin-top: 0;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.60);
        background-color: #FFFF;

    }

    .cor-header-main-div1 {
        border: none;
        background-color: white;
    }

    .cor-header-logo {
        padding-left: 0px;
    }

    // ---------------------------------------------------------------drop-------
    .drop {
        display: block;
        font-family: Nunito Sans;
        height: 50%;
        font-weight: 600;
        background-color: #F5F5F5;
        color: #202124;
        text-align: center;
        font-size: 10px;
        padding: 10px;
        position: fixed;
        width: 100%;
        z-index: 1000;
        margin: auto;
        top: 0;

        h1 {
            padding-top: 20px;
            border-bottom: 0.1px solid #f2f3f5;


        }

    }
}