<app-head-comp-two></app-head-comp-two>

<div class="container">
    <div class="row">
        <div class="col-md-6 contactinfo-box">
            <div class="contactinfo-item">
                <img src="../../../assets/images/contact/001-ask.png" alt="">
                <div>
                    <h3 class="cl-fblc-a"> Call us on </h3>
                    <p class="cl-fblu-c"> <b>8897656421</b></p>
                </div>
            </div>
            <div class="contactinfo-item">
                <img src="../../../assets/images/contact/003-email.png" alt="">
                <div>
                    <h3 class="cl-fblc-a"> E-mail us at </h3>
                    <p class='cl-fgry-b'> info@jmjoverseas.org.in </p>
                </div>
            </div>
            <div class="contactinfo-item">
                <img src="../../../assets/images/contact/002-location.png" alt="">
                <div>
                    <h3 class="cl-fblc-a"> Meet us at </h3>
                    <p class="cl-fgry-b"> 
                        Vayunagar Colony, Secunderabad, <br>Hyderabad, India
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">

        </div>
    </div>
</div> 
