<div class="container">
    <div class="row">
        <div class="jmj-cl-cbox">
            <div class="jmj-cl-box">
                <img src="../../../assets/images/countries/usa.svg" alt="" class="src">
                <span>USA</span>
            </div>
            <div class="jmj-cl-box">
                <img src="../../../assets/images/countries/france.svg" alt="" class="src">
                <span>FRANCE</span>
            </div>
            <div class="jmj-cl-box">
                <img src="../../../assets/images/countries/india.svg" alt="" class="src">
                <span>INDIA</span>
            </div>
            <div class="jmj-cl-box">
                <img src="../../../assets/images/countries/italy.svg" alt="" class="src">
                <span>ITALY</span>
            </div>
            <div class="jmj-cl-box">
                <img src="../../../assets/images/countries/uk.svg" alt="" class="src">
                <span>UNITED KINGDOM</span>
            </div>


        </div>
    </div>
</div>
