.jmj-cl-cbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:20px 0;
}
.jmj-cl-box{
    width: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.jmj-cl-box>span{
    font-size: 12px;
    font-weight: 800;
    padding:15px 0;
    text-transform: uppercase;
}