<div class="container-fluid jmj-gallerytone cl-grad-a">
    <div class="container">
        <div class="row jmj-gallerytone-box">
            <div class="col-3">
                <img src="../../../assets/images/gallery/Rectangle 36.png" alt="" srcset="">
            </div>
            <div class="col-3">
                <img src="../../../assets/images/gallery/Rectangle 37.png" alt="" srcset="" style='height:39%'>
                <img src="../../../assets/images/gallery/Rectangle 38.png" alt="" srcset="" style="height:56.27%">
            </div>
            <div class="col-3"> 
                <img src="../../../assets/images/gallery/Rectangle 40.png" alt="" srcset="" style='height:56.27%'>
                <img src="../../../assets/images/gallery/Rectangle 39.png" alt="" srcset="" style="height:39%">
            </div>
            <div class="col-3">
                <img src="../../../assets/images/gallery/Rectangle 41.png" alt="" srcset="">
            </div>
        </div>
    </div>
</div>
