<app-head-comp-two></app-head-comp-two>
<div class='container'>
    <div class="row jmj-flex-1">
        <div class="jmj-uni-para-cont col-lg-7 cl-fblc-a jmj-pb-4 jmj-pr-2">
            <h2 class='jmj-uni-para-cont-h2'>FGCE Coaching </h2>
            <p class='jmj-uni-para-cont-p'>
                Opening in 4 locations in Ahmadabad - University Road, Bopal Maninagar and Bapunagar, 
                we are proud to be one of the esatblished institutes in the city for more than a decade, 
                A record number of Studnets enroll for IELTS and other competitive exams every year and are taught by 
                dedicated faculty who pay individual attetion to students.
                <br>
                <br>
                With the best faculties and the support in-house published guide books for writing and effective speaking, 
                a well-sticked library and regular mock tests, we build the confidence of students 
                appearing for Foreign Going Competitive Exams(FGCE) like IELTS, TOFEL, PTE, French K=language Exmas, GRE and GMAT.

            </p>
        </div>
        <div class="col-lg-5">
            <img src="../../../assets/images/col-student.png" alt="">
        </div>
    </div>  
</div>
<div class="container">
    <div class="row">
        <div class="jmj-uni-para-cont col-lg-8 cl-fblc-a jmj-pb-2 jmj-pr-2">
            <h2 class='jmj-uni-para-cont-h2'>IELTS & PTE Coaching</h2>
            <p class='jmj-uni-para-cont-p'>
                IELTS, is recognized by universities and employers accross the world. 
                PTE Academic is recognized by and the orefered test of GMAC. 
                We assist in Preperation for Academic or General Training category of IELTS.
                You will get professional training in:

            </p>
            <ul class='jmj-uni-para-cont-ul'>
                <li>Reading</li>
                <li>Speaking</li>
                <li>Listening</li>
                <li>Writing</li>
            </ul>
            <br>
            <p class='jmj-uni-para-cont-p'>
                Regualr mock exams for all Modules. Access to in-house guide books and Well Sticked library.
                With a 3-month Schedue for preperations, Crash course option is also Available.
            </p>
            <br><br>
        </div>
        <div class="col-lg-4 jmj-uni-para-cont">
            <h4>IELTS</h4>
            <ul class='jmj-uni-para-cont-ul'>
                <li><b>Course Duration:</b>  12 Weeks</li>
                <li><b>Crash Course Duration:</b> 6 Weeks</li>
                <li><b>Score Validity:</b> 2 Years</li>
            </ul>
            <br>
            <h4>PTE</h4>
            <ul class='jmj-uni-para-cont-ul'>
                <li><b>Course Duration:</b>  4 Weeks</li>
                <li><b>Score Validity:</b> 2 Years</li>
            </ul>
        </div>
    </div>
    <div class='row'>
        <div  class="jmj-uni-para-cont2 col-lg-8 cl-fblc-a jmj-pb-2 jmj-pr-2">
            <h2 class='jmj-uni-para-cont-h2'>GRE/ GMAT Coaching</h2>
            <p class='jmj-uni-para-cont-p'>GRE/ GMAT are sytandardzed tests accepted for admission to various disciplines at amny graduate and business schools acress the globe. 
                Get expert faculty guidance fir GRE General Test and GRE Subject Test. Brush uo on verbal reasoning, quantitative reasoning, analytical writing and critical thinking skills.
                Updated guide books and materials provided to the students.
            </p>
        </div>
    </div>
    <div class="row">
        <div  class="jmj-uni-para-cont2 col-lg-8 cl-fblc-a jmj-pr-2">
            <h3>GRE Coaching</h3>
            <p class='jmj-uni-para-cont-p'>
                Conducted by US-based Education Testing Service (ETS), Graduate Record Examination (GRE) is a standardized, 
                computer-based, multichoice exam accepted by all top US Universities for MBA, MS, Law and other graduate programs. 
                More than 1,300 business schools including Harvard, Wharton, Chicago and all Top 50 B-schools accept GRE scores.
                GRE exam has three sections: Analytical Writing Assessment, Quantitative Reasoning and Verbal Reasoning.
                GRE can be a good alternative to GMAT, particularly for students who have good English language skills when compared
                to their Quantitative ability.
            </p>
        </div>
        <div class="col-lg-4 jmj-uni-para-cont2">
            <h4>GRE</h4>
            <ul class='jmj-uni-para-cont-ul'>
                <li><b>Course Duration:</b>  12 Weeks</li>
                <li><b>Score Validity:</b> 5 Years</li>
            </ul>
        </div>
    </div>
    <br>
    <div class="row">
        <div  class="jmj-uni-para-cont2 col-lg-8 cl-fblc-a jmj-pr-2">
            <h3>GMAT Coaching</h3>
            <p class='jmj-uni-para-cont-p'>
                The Graduate Management Admission Test is a computer adaptive test (CAT) intended to assess certain analytical, 
                writing, quantitative, verbal, and reading skills in written English for use in admission to a graduate management program, 
                such as an MBA program.[4] It requires knowledge of certain specific grammar and knowledge of certain specific algebra, 
                geometry, and arithmetic. According to the test-owning company, the Graduate Management Admission Council (GMAC), 
                the GMAT assesses analytical writing and problem-solving abilities while also addressing data sufficiency, logic, and 
                critical reasoning skills that it believes to be vital to real-world business and management success. 
                It can be taken up to five times a year but no more than eight times total. Attempts must be at least 16 days apart.
            </p>
        </div>
        <div class="col-lg-4 jmj-uni-para-cont2">
            <h4>GMAT</h4>
            <ul class='jmj-uni-para-cont-ul'>
                <li><b>Course Duration:</b>  12 Weeks</li>
                <li><b>Score Validity:</b> 5 Years</li>
            </ul>
        </div>
    </div>
    <br>
    <div class='row'>
        <div  class="jmj-uni-para-cont2 col-lg-8 cl-fblc-a jmj-pr-2">
            <h3>French Language Training</h3>
            <p class='jmj-uni-para-cont-p'>
                Learn the 2nd most spoken language in Europe and one of the national languages of Canada. 
                Get trained by the experts in speaking, reading and writing. Intensive preparation of DELF and DALF exams. 
                Learning made easy with activities and games.
            </p>
            <br><br>
        </div>
        <div class="col-lg-4 jmj-uni-para-cont2">
            <h4>French Exam(DELF)</h4>
            <ul class='jmj-uni-para-cont-ul'>
                <li><b>DELF and DALF Exams</b></li>
                <li><b>Course Duration:</b>  8 Weeks+</li>
                <li><b>Score Validity:</b>Life long</li>
            </ul>
        </div>
    </div>
</div>
<br><br><br>
<!--<div class="container-fluid cl-bgey-a">
    <div class="container">
        <div class="row">
            <h2 class='jmj-uni-para-cont-h2'>Course Insight</h2>
        </div>
    </div>
</div>-->
<div class="container">
    <div class="row">
        <h2 class='jmj-uni-para-cont-h2'>Countries help to reach</h2>
    </div>
</div>
<app-country-line></app-country-line>
<br>
<div class="container">
    <div class="row">
        <h2 class='jmj-uni-para-cont-h2'>FAQ</h2>
    </div>
</div>
<app-faq></app-faq>
<hr>

<!-- Footer Component Link Start -->
<app-footer></app-footer>
<!-- Footer Component Link End 

<h2 class='jmj-uni-para-cont-h2'>French Language Training</h2> 
<p class='jmj-uni-para-cont-p'>
    
</p>-->