<div class="cor-kbif-container">
    <div class="cor-center">
        <h2 class="cor-text-30-600-Nunito-Sans">Key Built-In Features</h2>
        <p class="cor-text-18-600-Nunito-Sans">We enjoy adapting our strategies to offer every client the best
            solutions<br> that are at the forefront of the industry</p>
    </div>
    <div class="cor-kbif-f-box">
        <div class="cor-kbif-f-in-box">
            <img src="../../../assets/images/home/img2.png" class="cor-img">
            <div class="cor-kbif-f-txt-box">
                <h4 class="cor-text-20-600-Nunito-Sans" id="hi">REAL-TIME INVENTORY VISIBILITY</h4>
                <p class="cor-text-18-400-Nunito-Sans">Enjoy real-time, detailed visibility into key inventory control and supply chain management measures.</p>
            </div>
        </div>
        <div class="cor-kbif-f-in-box">
            <img src="../../../assets/images/home/img1.png" class="cor-img">
            <div class="cor-kbif-f-txt-box">
                <h4 class="cor-text-20-600-Nunito-Sans">INVENTORY & ORDER FULFILLMENT</h4>
                <p class="cor-text-18-300-Nunito-Sans">Cortracker saves any distribution countless hours of work associated with data entry, organization and fulfillment.</p>
            </div>
        </div>
        <div class="cor-kbif-f-in-box">
            <img src="../../../assets/images/home/img3.png" class="cor-img">
            <div class="cor-kbif-f-txt-box">
                <h4 class="cor-text-20-600-Nunito-Sans">ONE SYSTEM FOR ENTIRE BUSINESS</h4>
                <p class="cor-text-18-400-Nunito-Sans">Eliminate IT costs and concerns associated with maintaining and upgrading separate applications.</p>
            </div>
        </div>
    </div>
</div>
