<div class="cor-aysc">
    <div class="cor-access-1">
        <div class="cor-access-child">
            <img class="cor-access-img animated-image" src="../../../assets/images/home/Group 631.png">
        </div>
        <div class="cor-flex-col1" style="gap: 35px;">
            <div class="cor-border"></div>
            <div class="cor-flex-col1">
                <div class="waves-block">
                    <div class="waves wave-1"></div>
                    <div class="waves wave-2"></div>
                    <div class="waves wave-3"></div>
                </div>
                <div class="cor-border1" style="height: 230px;"></div>
            </div>
        </div>
        <div class="cor-flex-col2 cor-access-child ">
            <h1 class="cor-text-30-600-Nunito-Sans cor-color-lightblack">Access your store anywhere, anytime</h1>
            <p class="cor-text-16-600-Nunito">Break free from the counter, stockroom or
                office.
                Cortracker is
                cloud-based POS software, so you can sign in and work from anywhere. Easily access your sales,
                products
                and reports, and always have the latest data. And if the internet goes down, Cortracker will still
                trade
                offline. Modern retail is online, in-store and mobile, so get to the point of sale system that takes
                you
                where you need to go.</p>
        </div>
    </div>
    <div id="cor-access-flex" class="cor-access-1 cor-access-2 cor-rev ">
        <div class="cor-access-child">
            <img class="cor-access-img1" src="../../../assets/images/home/Group 328.png">
        </div>
        <div class="cor-flex-col1" style="gap: 35px;">
            <div class="cor-border1"></div>
            <div class="cor-flex-col1">
                <div class="waves-block">
                    <div class="waves wave-1"></div>
                    <div class="waves wave-2"></div>
                    <div class="waves wave-3"></div>
                </div>
                <div class="cor-border1"></div>
            </div>
        </div>
        <div class=" cor-flex-col2 cor-access-child">
            <h1 class="cor-text-30-600-Nunito-Sans">Tools, Simple Enough .For Everyone</h1>
            <p class="cor-text-16-600-Nunito">Access the best technology for your business. Cortracker’s software is
                fast, intuitive and designed for modern retail. It’s easy for your team to use and works across iPad,
                Mac or PC with popular hardware. Cortracker’s best-in-class product and inventory features with powerful
                reporting insights help you make smarter, more profitable decisions, whether you have one store or
                twenty.</p>
        </div>
    </div>
    <div class="cor-access-1">
        <div class="cor-access-child">
            <img class="cor-access-img2" src="../../../assets/images/home/Group 636.png">
        </div>
        <div class="cor-flex-col1" style="gap: 35px;">
            <div class="cor-border1"></div>
            <div class="cor-flex-col1">
                <div class="waves-block">
                    <div class="waves wave-1"></div>
                    <div class="waves wave-2"></div>
                    <div class="waves wave-3"></div>
                </div>
                <div class="cor-border1"></div>
            </div>
        </div>
        <div class="cor-flex-col2 cor-access-child ">
            <h1 class="cor-text-30-600-Nunito-Sans">Grow And Scale Your Business With Ease</h1>
            <p class="cor-text-16-600-Nunito">Take the pain out of growing your retail business. Cortracker is fast and
                inexpensive to scale, so you can get set up and selling in no time - and add new staff, registers, sales
                channels and locations in just one click. Cortracker is continually adding and further developing
                features, so your business stays at the front of retail without installation hassles or extra fees.</p>
        </div>
    </div>
    <div id="cor-access-flex" class="cor-access-1 cor-access-2 cor-rev  ">
        <div class="cor-access-child">
            <img class="cor-access-img1" src="../../../assets/images/services/img5.png">
        </div>
        <div class="cor-flex-col1" style="gap: 35px;">
            <div class="cor-border1"></div>
            <div class="cor-flex-col1">
                <div class="waves-block">
                    <div class="waves wave-1"></div>
                    <div class="waves wave-2"></div>
                    <div class="waves wave-3"></div>
                </div>
                <div class="cor-border"></div>
            </div>
        </div>
        <div class=" cor-flex-col2 cor-access-child ">
            <div class="cor-md-bg1 cor-ser-bg-4">
                <h1 class="cor-text-30-700-Nunito-Sans cor-color-black">Staffing & Recruitment</h1>
                <ul>
                    <li class="cor-text-16-600-Nunito cor-color-lightblack">IT Talent Acquisition</li>
                    <li class="cor-text-16-600-Nunito cor-color-lightblack">Recruitment Services</li>
                    <li class="cor-text-16-600-Nunito cor-color-lightblack">Marketing Services </li>
                    <li class="cor-text-16-600-Nunito cor-color-lightblack">Client Relation Management</li>

                </ul>
            </div>
        </div>
    </div>
</div>