.cor-aysc {
    margin: auto;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    // gap: 100px;
    // margin-top: 70px;
    // margin-bottom: 125px;
    background-image: url('../../../assets/images/home/01_cortracker logo_Fin 3 (2).png'), url('../../../assets/images/home/01_cortracker logo_Fin 3 (2).png'), url('../../../assets/images/home/01_cortracker logo_Fin 3 (2).png');
    background-repeat: no-repeat;
    background-size: 550px;
    background-position: 110% -5%, -14% 30% , 0% 100%;

}
.cor-bg-st{
    background-image: url(../../../assets/images/home/fin.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.cor-center {
    text-align: start;
}

.cor-access-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 100px;

    .cor-access-child {
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    // background-image: url('../../../assets/images/home/01_cortracker logo_Fin 3 (2).png');
    // background-repeat: no-repeat;
    // background-size: contain;
    // height: 630px;
    // background-position: 120%;
}

.cor-access-2 {
    background-position-x: -125px !important;
}

// .cor-row1 {
//     max-width: 553px;

// }

// .cor-row2 {
//     max-width: 500px;
// }

.cor-rev {
    flex-direction: row-reverse;
}

.cor-row1,
.cor-row2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.cor-access-img {

    border-radius: 10px;
    transition: transform .2s;
}

.cor-access-img:hover {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.2);
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cor-access-img1 {
    width: 100%;
    min-width: 500px ;
    // height: 422px;
    // padding: 20px;
    // background: #FFFFFF;
    transition: transform .2s;
}

.cor-access-img1:hover {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.2);
}

.cor-access-img2 {
    width: 100%;
    min-width: 500px ;
    transition: transform .2s;
    // height: 442px;
    // padding: 20px;
    // background: #FFFFFF;

}

.cor-access-img2:hover {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.2);
}

.why-tutorac-inner {
    display: flex;
    justify-content: space-between;
    position: relative
}

.cor-flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div {
        padding: auto;
        // width: 100%;
    }
}

@keyframes waves {
    0% {
        transform: scale(.2);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
    }

    50% {
        opacity: .9;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"
    }

    to {
        transform: scale(.9);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
    }
}

.waves {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #7e8bff;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    border-radius: 100%;
    right: -10px;
    bottom: -10px;
    z-index: -1;
    animation: waves 3s ease-in-out infinite
}

.wave-1 {
    animation-delay: 0s
}

.wave-2 {
    animation-delay: 1s
}

.wave-3 {
    animation-delay: 2s
}

.waves-block {
    position: relative;
    margin-left: 5px
}

.waves-block.waves1 {
    top: 37%
}

.waves-block.waves2 {
    top: 68%
}

.waves-block.waves3 {
    top: 92%
}

.quality-sec .waves-block.waves1 {
    top: 50%
}

.quality-sec .waves-block.waves2 {
    top: 95%
}

.cor-border {
    height: 225px;
    padding-left: 13px;
}

.cor-border1 {
    border-left: 3px dashed #000000;
    height: 225px;
    padding-left: 13px;
}

.cor-flex-col1 {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cor-flex-col2 {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

ul {
    list-style-image: url('../../../assets/images/services/Vector 10.png');
    li{
        padding: 8px 0;
    }

}

@media only screen and ((min-width: 279px) and (max-width:600px)) {
    .cor-aysc {
        background: none;
    }
    .cor-access-1 {
        height: 100%;
        gap: 50px;
        flex-direction: column;

        .cor-flex-col1 {
            display: none;
        }
    }

    .cor-access-child {
        width: 350px !important;
        h1 {
            font-weight: 700;
            font-size: 18px;
        }
        p {
            padding: 10px 30px;
        }
        img{
            width: 300px !important;
        }
    }
    .cor-access-img1 {
        min-width: 300px ;
    }
    .cor-access-img2 {
        min-width: 300px ;
    }

}

@media only screen and ((min-width: 601px) and (max-width:799px)) {
    .cor-aysc {
        background: none;
    }
    .cor-access-1 {
        height: 100%;
        gap: 50px;
        flex-direction: column;

        .cor-flex-col1 {
            display: none;
        }
    }

    .cor-access-child {
        h1 {
            font-weight: 700;
            font-size: 18px;
        }
        p {
            padding: 10px 30px;
        }
    }

}

@media only screen and ((min-width: 800px) and (max-width:900px)) {
    p {
        font-size: 12px;
    }

    .cor-aysc {
        background: none;
        gap: 20px;
    }

    .cor-access-1 {
        flex-direction: column;
        gap: 20px;
        background-image: none;
        padding: 0px;

        img {
            width: 300px;
            height: 328px;
            border-radius: 10px;
        }

        h1 {
            font-weight: 600;
            font-size: 25px;
        }

        p {
            font-weight: 400;
            font-size: 18px;
        }
        .cor-flex-col1 {
            display: none;
        }
    }
    .cor-access-m {
        flex-direction: column-reverse;
    }
}

@media only screen and ((min-width: 901px) and (max-width:1100px)) {
    .cor-aysc {
        background: none;
    }
    .cor-access-flex{
        flex-direction: column;
    }

    .cor-access-1 {
        flex-direction: column;
        gap: 50px;
        height: none;
        background-image: none;

        h1 {
            font-weight: 700;
            font-size: 28px;
        }

        p {
            font-weight: 400;
            font-size: 18px;
        }

        .cor-flex-col1 {
            display: none;
        }

    }

    .cor-aysc {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .cor-row1,
    .cor-row2 {
        padding-left: 44px;
        padding-right: 34px;
    }

    .cor-access-m {
        flex-direction: column-reverse;
    }

    .cor-access-img1 {
        margin: 20px;
        width: 340px;
        height: 380px;
        padding: 20px;
        border-radius: 10px;
        // background: #FFFFFF;
        // border: 4px dashed #FAB31A;
        // box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    }

    .cor-access-img2 {
        margin: 20px;
        width: 340px;
        height: 380px;
        padding: 20px;
        border-radius: 10px;
        // background: #FFFFFF;
        // border: 4px dashed #FAB31A;
        // box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    }

    #cor-access-flex {
        display: flex;
        // flex-direction: row-reverse;
        padding-right: 20px;
    }
}