<div class="cor-body-c">
    <div class="cor-contact-main-bg cor-bg-color-bodyb">
        <!-- top-section -->
        <div class="cor-bg-color-lightgrayishblue  contact-top-section contact-md-top">
            <div class="cor-contactus-box">
                <p class="cor-text-20-400-Nunito cor-color-slategray cor-contactus-para">Contact Us</p>
                <h1 class="cor-text-45-600-Nunito cor-color-lightblue cor-contactus-head">Drop Us a Line</h1>
            </div>
        </div>

        <!-- div-cont-flex -->
        <div class="contacts-div-flex">
            <!-- contact-box -->
            <div class="cor-contactinfo-box">
                <div class="cor-contactinfo-item">
                    <img src="../../../assets/images/contacts/001-ask.png" alt="">
                    <div>
                        <h1 class="cor-text-18-600-Nunito cor-color-black"> Call us on </h1>
                        <p class="cor-text-18-600-Nunito  cor-color-bluemagenta"> +1947(228)6862</p>
                    </div>
                </div>
                <div class="cor-contactinfo-item">
                    <img src="../../../assets/images/contacts/003-email.png" alt="">
                    <div class="">
                        <h1 class="cor-text-18-600-Nunito cor-color-blacks"> E-mail us at </h1>
                        <p class="cor-text-18-600-Nunito cor-color-slategray"> sales@cortracker.com </p>
                    </div>
                </div>
                <div class="cor-contactinfo-item">
                    <img src="../../../assets/images/contacts/002-location.png" alt="">
                    <div>
                        <h1 class="cor-text-18-600-Nunito cor-color-black"> Meet us at </h1>
                        <p class="cor-text-18-600-Nunito cor-color-slategray" id="cor-address">
                            37085, Grand River Avenue, .<br>
                            Suite #083, Farmington, MI, 48335,<br> USA.

                        </p>
                    </div>
                </div>
            </div>

            <!-- form-box -->
            <!-- <div class="form-bg-container cor-bg-color-headerbg">
            <form action="/action_page.php" class="form-div">
                <fieldset class="form-box ">
                    <legend class="form-box-heading cor-text-12-400-Nunito">Your Full Name</legend>
                     <input type="text" class="input-box" maxlength="40"> 
                </fieldset>
                <fieldset  class="form-box">
                    <legend class="form-box-heading cor-text-12-400-Nunito">Your Email</legend>
                     <input type="email" class="input-box" maxlength="40"> 
                </fieldset>
                <fieldset  class="form-box">
                    <legend class="form-box-heading cor-text-12-400-Nunito">Subject</legend>
                     <input type="text" class="input-box" maxlength="40"> 
                </fieldset>
                <fieldset  class="form-box" id="form-box1" > 
                    <legend class="form-box-heading cor-text-12-400-Nunito">Your  Comment</legend>
                    <textarea  rows="9" cols="60" id="Comment-input-box"></textarea>
                </fieldset>
            </form>
            <input type="submit" value="Send Message" class="submit-box cor-bg-color-lightblue  cor-text-18-400-Nunio">
        </div> -->

            <div class="form-bg-container cor-bg-color-headerbg">
                <form class="form-div" action="" #addUser="ngForm" (ngSubmit)="submitForm(addUser)">
                    <fieldset class="form-box ">
                        <legend class="form-box-heading cor-text-12-400-Nunito">Your Full Name</legend>
                        <input type="text" name="user_name" class="input-box" maxlength="40" ngModel>
                    </fieldset>
                    <fieldset class="form-box">
                        <legend class="form-box-heading cor-text-12-400-Nunito">Your Email</legend>
                        <input type="email" name="user_email" class="input-box" maxlength="40" ngModel>
                    </fieldset>
                    <fieldset class="form-box">
                        <legend class="form-box-heading cor-text-12-400-Nunito">Subject</legend>
                        <input type="text" name="user_subject" class="input-box" maxlength="40" ngModel>
                    </fieldset>
                    <fieldset class="form-box" id="form-box1">
                        <legend class="form-box-heading cor-text-12-400-Nunito">Your Comment</legend>
                        <textarea rows="9" name="user_comment" cols="60" id="Comment-input-box" ngModel></textarea>
                    </fieldset>
                    <input type="submit" class="submit-box cor-bg-color-lightblue  cor-text-18-400-Nunio cor-mouse" value="Save Changes">
                </form>
            </div>
        </div>
        <!--footer-toe -->
        <!-- <div class="footer-toe-container cor-bg-color-white  cor-text-14-400-Nunito">
        <p>© Copyrights Cortracker Inc 2012 - 2022. All rights reserved.</p>
    </div> -->
    </div>
</div>

<br>
<br>