.cor-contact-main-bg{
    width: 100%;
   
}
.cor-body-c{
    margin-top: -96px;
}
.contact-top-section{
    width:100%;
    padding: 0 45px;
    box-sizing: border-box;
    padding-top: 150px;
}
.cor-contactus-box{
    max-width: 1440px;
    padding: 60px 0;
    margin: auto;
}
.cor-mouse {
    cursor: pointer;
}
.cor-contactinfo-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    background-image: url('../../../assets/images/home/01_cortracker logo_Fin 3 (2).png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cor-contactinfo-item{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 18px;
   
}
.cor-contactinfo-item>div>h1{
    font-size: 1em; 
    font-weight: 600;
  
}

.cor-contactinfo-item>div>p{
    font-size: 1em; 
    font-weight: 600;
    
}
.cor-contactinfo-item>img{
    width: 60px;
    height: 60px;
}
.cor-contactinfo-container1{
    line-height: 80%;
}
.para{
    line-height: 10%;
    
}
.cor-contacts-form-box{
    width: 599px;
    height: 662px;
    
}
// contact-box
.footer-toe-container{
    text-align: center;
    margin-bottom:0px;
	width: 100%;
    border-top: 2px solid #ECEDF2;
    margin-top: 30px;
    padding: 20px;
    box-sizing: border-box;
}
//form-box
.contacts-div-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    padding: 0 45px;
    box-sizing: border-box;
    width:100%;
    max-width:1440px;
    margin: auto;
}
.form-bg-container{
    width: 599px;
    height: 662px;
    align-items: center;  
    border: 0.5px solid rgba(48, 46, 167, 0.46);
    border-radius: 10px;
    padding:20px;
    margin-top: -80px;
  }
  .form-div{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    gap: 20px;

  }
  #form-box1{
      height: 214px; 
  }
  .form-box{
   
      width: 512px;
      height: 58px;
      border: 0.5px solid rgba(48, 46, 167, 0.46);
      border-radius: 10px;
  }
  .form-box-heading{
      padding: 10px;
  }
  .submit-box{
      width: 227px;
      height: 47px;
      text-align: center;
      border-radius: 7px;
      border:none;
      color:#ffffff;
       margin:28px 0px 0px 32px;
      
  }
 .input-box{
    width: 500px;
    border: none;
    outline: none;
 }
 textarea{
    resize: none;
    width: 500px;
    border: none;
    outline: none;
    
 }
 
 //conditions
 @media only screen and (max-width: 600px) {
   .contact-top-section{
    // height: 146px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    width: 100vw;
    padding-top: 100px;
   }
   .cor-contactus-box{
    margin: 0px;
    padding: 40px 0;
    text-align: center;
        p{
            font-size: 12px;
            margin-top: 0px;
        }
        h1{
            font-size: 25px;
        }
   }
   
   .form-bg-container{
    width: 303px;
    height: 434px;
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    gap: 10px;
   }
   
   .form-box {
        width: 255px;
        padding:0px;
    }
    .form-box-heading{
        padding: 10px;
        margin-left: 20px;
    }

   #form-box1{
        width: 251px;
        height: 150px;
   }
   textarea{
    resize: none;
    width: 255px;
    height: 100px;
   }
    
//    .form-bg-container{
//        width: 303px;
//        height: 434px; 
//        padding: 10px;
//        display: flex;
//        flex-direction: column;
//        justify-content: center;
//        gap: 10px;
//    }
   .form-div{
    gap: 10px;
  }
   .submit-box{
    width: 80px;
    height: 30px;
    font-size:10px;
    
   }
   .input-box{
    width: 250px;
    border-radius: 10px;
   }
//second-cont..
   .cor-contactinfo-item{
   
    img{
        width: 40px;
        height: 40px;
     }
     h1{
        font-size:16px;
     }
     p{
        font-size: 16px;
     }
   }
   .cor-contactinfo-box{
  

    background-image:none;
   }
   .footer-toe-container{
    font-size:10px;
    
    border-top: 1px solid #000000;
   }
   #cor-address{
    width: 174px;
    height: 88px;
    font-size: 16px;
   }
   .submit-box{
    margin: 0px;
   }
  }
  @media only screen and (max-width:1100px){
    .contacts-div-flex{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap:20px;
        padding: 0px !important;
        box-sizing: border-box;
       
       }
    .form-bg-container{
        margin-top: -20px;
      }
      .cor-contactinfo-box{
        background-image: none;
      }
  }