<div class="container">
    <div class="row">
        <div class="jmj-faq-box col-lg-8">
            <div class="jmj-faq-item">
                <div class="jmj-faq-head">
                    <h2>How Do I  Purchase  A Piece Visa ?</h2>
                    <span class="material-icons-outlined">
                        add
                    </span>
                </div>
                <div class="jmj-faq-para jmj-faq-para-hide">
                    <br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
            </div>
            <br>
            <div class="jmj-faq-item">
                <div class="jmj-faq-head">
                    <h2>Which Countries Are Easy To Get A Work Visa ?</h2>
                    <span class="material-icons-outlined">
                        add
                    </span>
                </div>
                <div class="jmj-faq-para jmj-faq-para-hide">
                    <br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
            </div>
            <br>
            <div class="jmj-faq-item">
                <div class="jmj-faq-head">
                    <h2>What will it Go for Get a Work Visa ?</h2>
                    <span class="material-icons-outlined">
                        add
                    </span>
                </div>
                <div class="jmj-faq-para jmj-faq-para-hide">
                    <br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
            </div>
            <br>
            <div class="jmj-faq-item">
                <div class="jmj-faq-head">
                    <h2>What is the Distinction Between Visa and Work Permit ?</h2>
                    <span class="material-icons-outlined">
                        add
                    </span>
                </div>
                <div class="jmj-faq-para jmj-faq-para-hide">
                    <br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
            </div>
        </div>
    </div>
</div>