<div class="cor-fc">
    <h2 class="cor-text-30-600-Nunito-Sans">FAQ</h2>
    <div class="cor-fc-child">
        <div class="cor-fc-child-question cor-text-22-600-Nunito">
            What does inventory management software do?  
            <b class="cor-text-30-700-Nunito icon"> + </b>
        </div>
        <div class="cor-fc-child-answer cor-text-18-500-Nunito">
           <ul>
            <li>System which keeps a track of Stock Inventory in the warehouse</li>
            <li>Receiving items into a warehouse or other locations</li>
            <li>Picking, packing and shipping items from a warehouse.</li>
           </ul>
            
        </div>
    </div>
    <div class="cor-fc-child">
        <div class="cor-fc-child-question cor-text-22-600-Nunito">
            What are some of the advantages of using inventory management software?
            <b class="cor-text-30-700-Nunito icon"> + </b>
        </div>
        <div class="cor-fc-child-answer cor-text-18-500-Nunito">
          <ul>
            <li>Helps in increased efficiency by auto collecting data, conduct Calculations and create records</li>
            <li>Helps companies cut expenses by minimizing the amount of unwanted parts and products in storage</li>
            <li>Helps companies keep lost sales to a minimum by having enough stock on hand to meet demand.</li>
          </ul>
        </div>
    </div>
    <div class="cor-fc-child">
        <div class="cor-fc-child-question cor-text-22-600-Nunito">
            What is a healthy inventory level?
            <b class="cor-text-30-700-Nunito icon"> + </b>
        </div>
        <div class="cor-fc-child-answer cor-text-18-500-Nunito">
           <ul>
            <li>Healthy Inventory is holding enough stock while keeping stale and excess stock levels low.</li>
            <li>Leaving Stocks unaccounted or unattended might cause business losses in the longer run.</li>
            <li>Level of exact count with one point access with information to all precisely.</li>
           </ul>
        </div>
    </div>
    <div class="cor-fc-child">
        <div class="cor-fc-child-question cor-text-20-600-Nunito">
            What is the maximum inventory level?
            <b class="cor-text-30-700-Nunito icon"> + </b>
        </div>
        <div class="cor-fc-child-answer cor-text-18-500-Nunito">
           <ul>
            <li>The maximum stock level of a period is large enough to cover the demands in the following periods within the maximum days' supply.</li>
            <li>The maximum stock level is one of the ways in which businesses control the number of goods in their warehouses.</li>
            <li>The maximum level of stock is usually achieved when those goods arrive which were ordered at the re-order level of the stock.</li>
           </ul>
        </div>
    </div>
</div>