<div class="cor-body-c">
    <div class="cor-services-bg-main">


        <div class="cor-services-main">


            <!-- section-1 -->

            <div id="cor-services-lg" class="cor-ser-bg cor-services-section1 cor-services-bg1 cor-services-md-section1 cor-uni1">
                <div class="cor-md-bg1">

                    <h2 class="cor-text-45-600-Nunito-Sans cor-color-lightblue ">Services Offered</h2>
                    <h1 class="cor-text-30-700-Nunito-Sans cor-color-black sub-head">Software Engineering</h1>
                    <ul>
                        <li class="cor-text-16-600-Nunito cor-color-lightblack">Advisory Services</li>
                        <li class="cor-text-16-600-Nunito cor-color-lightblack">Enterprise Rollout & Adoption Support
                        </li>
                        <li class="cor-text-16-600-Nunito cor-color-lightblack">DevOps </li>
                        <li class="cor-text-16-600-Nunito cor-color-lightblack">Architecture</li>
                        <li class="cor-text-16-600-Nunito cor-color-lightblack">Cloud, Infrastructure & Technology</li>
                        <li class="cor-text-16-600-Nunito cor-color-lightblack">UX Design</li>
                        <li class="cor-text-16-600-Nunito cor-color-lightblack">Change Testing & Release</li>
                        <li class="cor-text-16-600-Nunito cor-color-lightblack">Product Engineering</li>
                        <li class="cor-text-16-600-Nunito cor-color-lightblack">Custom Application Engineering</li>
                    </ul>
                </div>
                <img src="../../../assets/images/services/img1.png" alt="">
            </div>

            <!-- section-2-->
            <div class="cor-services-bg2 cor-services-md-section1">
                <div>
                    <div class="cor-services-section1 cor-md-flex">
                        <img src="../../../assets/images/services/img2.png" alt="">
                        <div class="cor-md-bg1 cor-ser-bg-1">
                            <h1 class="cor-text-30-700-Nunito-Sans cor-color-black">Automation Technologies</h1>
                            <ul>
                                <li class="cor-text-16-600-Nunito cor-color-lightblack">Machine Learning</li>
                                <li class="cor-text-16-600-Nunito cor-color-lightblack">Artificial Intelligence</li>
                                <li class="cor-text-16-600-Nunito cor-color-lightblack">Advisory Services</li>

                            </ul>
                        </div>

                    </div>

                    <div class="cor-services-section1 cor-md-flex-r">

                        <div class="cor-md-bg1 cor-ser-bg-2">
                            <h1 class="cor-text-30-700-Nunito-Sans cor-color-black">Digital Operations</h1>
                            <ul>
                                <li class="cor-text-16-600-Nunito cor-color-lightblack">Digitizing Process</li>
                                <li class="cor-text-16-600-Nunito cor-color-lightblack">Automation & Robotics</li>
                                <li class="cor-text-16-600-Nunito cor-color-lightblack">Services Now Solutions </li>
                                <li class="cor-text-16-600-Nunito cor-color-lightblack">Customer Support</li>

                            </ul>
                        </div>
                        <img src="../../../assets/images/services/img3.png" alt="">

                    </div>
                </div>

                <div class="cor-services-section1  cor-md-flex">
                    <img src="../../../assets/images/services/img4.png" alt="">
                    <div class="cor-md-bg1 cor-ser-bg-3">
                        <h1 class="cor-text-30-700-Nunito-Sans cor-color-black">Support Services</h1>
                        <ul>
                            <li class="cor-text-16-600-Nunito cor-color-lightblack">IT Help Desks</li>
                            <li class="cor-text-16-600-Nunito cor-color-lightblack">Customer Support</li>
                            <li class="cor-text-16-600-Nunito cor-color-lightblack">Ordere-to-Cash </li>
                            <li class="cor-text-16-600-Nunito cor-color-lightblack">Software & Applications Support</li>
                            <li class="cor-text-16-600-Nunito cor-color-lightblack"> Product & Technical Support</li>
                            <li class="cor-text-16-600-Nunito cor-color-lightblack">Advisory Services</li>
                            <li class="cor-text-16-600-Nunito cor-color-lightblack">Our Center of Excellence</li>

                        </ul>
                    </div>
                </div>

            </div>

            <!-- section-3-->
            <div class="cor-services-bg3 cor-services-md-section1">

                <!-- <div class="cor-services-section1 cor-md-flex-r">

                    <div class="cor-md-bg1 cor-ser-bg-4">
                        <h1 class="cor-text-30-700-Nunito-Sans cor-color-black">Staffing & Recruitment</h1>
                        <ul>
                            <li class="cor-text-16-600-Nunito cor-color-lightblack">IT Talent Acquisition</li>
                            <li class="cor-text-16-600-Nunito cor-color-lightblack">Recruitment Services</li>
                            <li class="cor-text-16-600-Nunito cor-color-lightblack">Marketing Services </li>
                            <li class="cor-text-16-600-Nunito cor-color-lightblack">Client Relation Management</li>

                        </ul>
                    </div>
                    <img src="../../../assets/images/services/img5.png" alt="">

                </div> -->

                <div class="cor-services-section1  cor-md-flex">
                    <img src="../../../assets/images/services/img6.png" alt="">

                    <div class="cor-md-bg1 cor-ser-bg-5">
                        <h1 class="cor-text-30-700-Nunito-Sans cor-color-black">Backoffice Services</h1>
                        <ul>
                            <li class="cor-text-16-600-Nunito cor-color-lightblack">Supply Chain</li>
                            <li class="cor-text-16-600-Nunito cor-color-lightblack">Finance & Accounting </li>
                            <li class="cor-text-16-600-Nunito cor-color-lightblack">Compliance & Regulatory Reporting
                            </li>
                            <li class="cor-text-16-600-Nunito cor-color-lightblack">Order-to-Cash</li>
                            <li class="cor-text-16-600-Nunito cor-color-lightblack">Advisory Services</li>

                        </ul>
                    </div>

                </div>
            </div>



        </div>
    </div>
</div>