<app-head-comp-two></app-head-comp-two>
<br><br>
<div class='container'>
    <div class="row jmj-flex-1">
        <div class="jmj-uni-para-cont col-lg-7 cl-fblc-a jmj-pb-4 jmj-pr-2">
            <p class='jmj-uni-para-cont-p'>
                Even after receiving the visa there still remain a number of other aspects of the process that need to be taken care of
                before you can proceed with your immigration. Let’s face it, the process of moving to a new country is tough, even when you
                have managed to get your immigration process concluded. We make it a priority here, at Rao Consultants, to ensure that this 
                transition is smooth for you. The client should face no hassles in terms of all the many ancillary tasks that still remain even 
                after the immigration process is done. We have lined up a variety of post-visa services for our clients for even after they reach 
                their desired destination.
            </p>
        </div>
        <div class="col-lg-5">
            <img src="../../../assets/images/travel-concept-with-baggage.jpg" alt="">
        </div>
    </div>  
</div>
<br><br><br>
<div class="container-fluid">    
    <div class="container" >
        <div class="row jmj-flex-1 jmj-pb-4">
            <div class="jmj-uni-para-cont col-lg-6 flexer">
                <div>
                    <img src="../../../assets/images/postvisa/002-plane-ticket.png"  style="max-width: 300px;">
                </div>
                    <div>  
                    <h2 class='jmj-uni-para-cont2-h2'>International Air ticket</h2>
                    <p class='jmj-uni-para-cont2-p'>
                        One of the big hassles of booking air tickets is unable to find cheap flights.
                        Get cost-efficient deals to book air tickets and avail the benifit if early-booking discounts. 
                        Get timely updates with latest information related to requirement for luggage. Flexibility to book tickets 
                        based on transit/ transfer duration to save time.
                        <br>
                    </p>
                </div>
            </div>
            <div class="col-lg-6 jmj-uni-para-cont flexer">
                <div>
                    <img src="../../../assets/images/postvisa/003-accomodation.png"  style="max-width: 300px;">
                </div>
                    <div>  
                    <h2 class='jmj-uni-para-cont2-h2'>Accommodation</h2>
                    <p class='jmj-uni-para-cont2-p'>
                        Regardless, if one needs to get a good deal on costs, they can investigate off-grounds lodging. 
                        We have related with different accommodation providers in essentially every noteworthy city on the globe. 
                        You can peruse shared lodging, private rooms and private lofts for short and long remain. 
                    </p>
                </div>
            </div>
            <div class="jmj-uni-para-cont col-lg-6 flexer">
                <div>
                    <img src="../../../assets/images/postvisa/004-exchanging.png"  style="max-width: 300px;">
                </div>
                <div>    
                    <h2 class='jmj-uni-para-cont2-h2'>Foreign Exchange</h2>
                    <p class='jmj-uni-para-cont2-p'>
                        Get better Exchange rates than airports, banks and other exchanges. 
                        Easy to pay fees or conduct transactions in the repective's Country currency.
                       
                        Finding the right trustworthy foreign currency exchanger can be a tough task if you don’t know anyone personally. 
                        <br>
                    </p>
                </div>
            </div>
            <div class="col-lg-6 jmj-uni-para-cont flexer">
                <div>
                    <img src="../../../assets/images/postvisa/001-health-insurance.png" style="max-width: 300px;" alt="" srcset="">
                </div>
                <div>
                    <h2 class='jmj-uni-para-cont2-h2'>Travel and Health Insurance</h2>
                    <p class='jmj-uni-para-cont2-p'>
                        The jitteriest individuals about you flying to another country will be your family members. We, understand this 
                        and aim to make your immigration procedure go about in a secure manner and try and ease the anxiety of your family members. 
                        
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<br><br>
<!--Jmj Counter Section-->

<div class="container-fluid cl-bgey-a">
    <br><br> 
    <app-counter-sections></app-counter-sections>
    <br><br>
</div>
<!--Jmj Counter Section-->
<br><br>

<!-- Footer Component Link Start -->
<app-footer></app-footer>
<!-- Footer Component Link End -->
