

<!-- Home Component First -->
<app-head-comp-one></app-head-comp-one>
<!-- Home Component First -->

<!-- Popular Countries Start -->
<app-popular-countries></app-popular-countries>
<!-- Popular Countries End -->

<!-- Jmj Who we are -->
<app-who-we-are></app-who-we-are>
<!-- Jmj Who we are -->

<!--Jmj Counter Section-->
<app-counter-sections></app-counter-sections>
<!--Jmj Counter Section-->

<!-- Jmj Recent New Article -->
<app-recent-new-articles></app-recent-new-articles>
<!-- Jmj Recent New Article-->


<!-- Footer Component Link Start -->
<app-footer></app-footer>
<!-- Footer Component Link End -->