<app-country-comp-one></app-country-comp-one>
<div class='container'>
    <div class="row">
        <div class="jmj-uni-para-cont col-lg-8 cl-fblc-a jmj-pb-4">
            <h2 class='jmj-uni-para-cont-h2'>Build a New Life in United Kingdom </h2>
            <p class='jmj-uni-para-cont-p'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>    
    <div class="row jmj-flex-1">
        <div class="col-md-6">
            <img style='width:100%' src="../../../assets/images/Monumnets/london-eye-with-river-thames 1.png" alt="" >
        </div>
        <div class="col-md-6 ">    
            <div class="jmj-uni-para-cont cl-fblc-a jmj-pad-0">
                <h2 class='jmj-uni-para-cont-h2'> Why migrate to United Kingdom? </h2>
                <ul class='jmj-uni-para-cont-ul'>
                    <li>Immense interest for gifted outsider ability</li>
                    <li>Less rigorous immigration process compared to other English speaking nations</li>
                    <li>Free medical services and schooling for perpetual inhabitants</li>
                    <li>Protected, agreeable country with inviting individuals</li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
            </div>
        </div>
    </div>
    <div class="row jmj-pb-4">
        <div class="jmj-uni-para-cont col-lg-8 cl-fblc-a">
            <h2 class='jmj-uni-para-cont-h2'> UK Immigration Process </h2>
            <p class='jmj-uni-para-cont-p'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
            <ul class='jmj-uni-para-cont-ul'>
                <li>Immense interest for gifted outsider ability</li>
                <li>Less rigorous immigration process compared to other English speaking nations</li>
                <li>Free medical services and schooling for perpetual inhabitants</li>
                <li>Protected, agreeable country with inviting individuals</li>
            </ul>
            <p class='jmj-uni-para-cont-p'>The list of programs is dynamic and might amendment at any purpose of your time. every of those programs comes with its own set of application criteria and is intended for various sorts of candidates. Phoenixshpere helps candidates in creating the proper call to migrate to Canada by serving to them opt for the proper program and helping them throughout their migration program. Our knowledgeable about counsellors are with you at each step of the method as you propose and navigate your migration journey.</p>
            
        </div>
    </div>  
</div>
<div class="container-fluid jmj-pb-4 cl-bgey-a">
    <div class='container '>
        <div class="row">
            <div class="jmj-uni-para-cont col-lg-8 cl-fblc-a">
                <h2 class='jmj-uni-para-cont-h2'>Build a New Life in United Kingdom </h2>
                <p class='jmj-pb-2-5 jmj-uni-para-cont-p'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <h2 class='jmj-uni-para-cont-h2'>Provincial Nominee Program (PNP): </h2>
                <p class='jmj-uni-para-cont-p'>If you choose for the PNP to use for your PR visa, these area unit the steps:</p>
                <ul class='jmj-uni-para-cont-ul'>
                    <li>You must apply within the province or region wherever you want to settle.</li>
                    <li>You could be nominative by the province to use for a PR visa if your profile meets the eligibility criteria.</li>
                    <li>You can apply for your PR visa when you're nominative by a province.</li>
                </ul>
                <p class='jmj-uni-para-cont-p'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>
    
</div>

<!-- Footer Component Link Start -->
<app-footer></app-footer>
<!-- Footer Component Link End -->