<div class="bg-img">
    <div class="cor-body">
        <div>
            <img width="200px"  class=" blinking-star star1" src="../../../assets/images/about-us/Highlight4.png" alt="">
        </div>
        <div class="cor-body1">
            <h2 class="cor-text-30-600-Nunito-Sans cor-color-black abc9">Testimonals From Our Customers</h2>
            <p class="cor-text-15-600-Nunito-Sans cor-color-slategray abc91">Lorem ipsum dolor sit amet elit, sed do
                eiusmod
                tempor</p>
        </div>
        <div> 
        </div>
    </div>

    <div class="main">
        <div class="container">
            <input type="radio" name="slider" value='first' id="item-1" [(ngModel)]="slider">
            <input type="radio" name="slider" value="second" id="item-2" [(ngModel)]="slider">
            <input type="radio" name="slider" value="third" id="item-3" [(ngModel)]="slider">
            <div class="cards">
                <label class="card" for="item-1" id="song-1">
                    <div class="box">
                        <div class="cor-2">
                            <h2 class="cor-text-20-700-Nunito-Sans cor-color-blue cor-a1">Awesome Design</h2>
                            <img src="../../../assets/images/about-us/Vector19.png" class="abc">
                        </div>
                        <div class="cor-text-20-600-Nunito cor-3 cor-a2 ">Without JobHunt i’d be homeless, they found me
                            a job
                            and
                            got me sorted out quickly with everything! input 1
                            Can’t quite… The Mitech team works really hard to ensure high level of quality</div>
                        <div class="cor-4">
                            <img src="../../../assets/images/about-us/Ellipse19.png" class="abc1">
                            <div class="abc2">
                                <h2 class="cor-text-23-600-Nunito-Sans cor-color-black cor-a2">Ronald Richards</h2>
                                <p class="cor-text-16-600-Nunito-Sans cor-color-slategray cor-a3">Designer</p>
                            </div>
                        </div>
                    </div>
                </label>
                <label class="card" for="item-2" id="song-2">
                    <div class="box">
                        <div class="cor-2">
                            <h2 class="cor-text-20-700-Nunito-Sans cor-color-blue cor-a1">Construction worker</h2>
                            <img src="../../../assets/images/about-us/Vector19.png" class="abc">
                        </div>
                        <div class="cor-text-20-600-Nunito cor-3 cor-a2">Without JobHunt i’d be homeless, they found me
                            a job
                            and
                            got me sorted out quickly with everything!
                            Can’t quite… The Mitech team works really hard to ensure high level of quality</div>
                        <div class="cor-4">
                            <img src="../../../assets/images/about-us/Ellipse19.png" class="abc1">
                            <div class="abc2">
                                <h2 class="cor-text-23-600-Nunito-Sans cor-color-black cor-a2 ">Johnson Smith</h2>
                                <p class="cor-text-16-600-Nunito-Sans cor-color-slategray cor-a3">Medical assistant</p>
                            </div>
                        </div>
                    </div>
                </label>
                <label class="card" for="item-3" id="song-3">
                    <div class="box">
                        <div class="cor-2">
                            <h2 class="cor-text-20-700-Nunito-Sans cor-color-blue cor-a1">Stocking associate</h2>
                            <img src="../../../assets/images/about-us/Vector19.png" class="abc">
                        </div>
                        <div class="cor-text-20-600-Nunito cor-3 cor-a2">Without JobHunt i’d be homeless, they found me
                            a job
                            and
                            got me sorted out quickly with everything!
                            Can’t quite… The Mitech team works really hard to ensure high level of quality</div>
                        <div class="cor-4">
                            <img src="../../../assets/images/about-us/Ellipse19.png" class="abc1">
                            <div class="abc2">
                                <h2 class="cor-text-23-600-Nunito-Sans cor-color-black cor-a2">Davis Williams</h2>
                                <p class="cor-text-16-600-Nunito-Sans cor-color-slategray cor-a3">Administrative </p>
                            </div>
                        </div>
                    </div>
                </label>
            </div>
        </div>
    </div>
    <div class="main2">
        <div class="dots">
            <span id="highLighter1" class="dot" (click)="slider='first'"></span>
            <span id="highLighter2" class="dot" (click)="slider='second'"></span>
            <span id="highLighter3" class="dot" (click)="slider='third'"></span>
        </div>
    </div>
</div>