.cor-body {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 140px;
    // padding-bottom: 250px;
    box-sizing: border-box;
    gap: 50px;

  }
  
  .cor-body1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .bg-img{
    max-width: 1440px;
    margin: auto;
    background-image: url('../../../assets/images/home/01_cortracker logo_Fin 3 (2).png');
    background-repeat: no-repeat;
    background-size: 600px,100px;
    background-position:left 0%,5% 10%;
}
  
  
  
  
  @media only screen and (max-width: 600px) {
    .cor-body{
        padding-top: 40px;
    }
    .abc9 {
      font-weight: 600;
      font-size: 16px;
    }
  
    .abc91 {
      font-weight: 600;
      font-size: 12px;
    }
  }

@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");
.bg-img{
    background-image: url('../../../assets/images/home/01_cortracker logo_Fin 3 (2).png'),url('../../../assets/images/about-us/Highlight4.png');
    background-repeat: no-repeat;
    background-size: contain,100px;
    background-position:center left,5% 10%;
    // background: none;
}

* {
    box-sizing: border-box;
}

.main {
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 360px;
    box-sizing: border-box;
    overflow: hidden;
}

.main2 {
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 200px;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.body1 {
    max-width: 1440px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    font-family: 'DM Sans', sans-serif;
    transition: background .4s ease-in;
    background-color: #c394f8;

    &.blue {
        background-color: #428aa6;
    }
}

input[type=radio] {
    display: none;
}

.card {
    position: absolute;
    width: 659px;
    height: 309px;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform .4s ease;
    cursor: pointer;
}



.container {
    width: 100%;
    max-width: 800px;
    max-height: 600px;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cards {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

img {
    width: 100%;
    height: 100%;
    // border-radius: 10px;
    object-fit: cover;
}

#item-1:checked~.cards #song-3,
#item-2:checked~.cards #song-1,
#item-3:checked~.cards #song-2 {
    transform: translatex(-40%) scale(.8);
    opacity: .4;
    z-index: 0;
}

#item-1:checked~.cards #song-2,
#item-2:checked~.cards #song-3,
#item-3:checked~.cards #song-1 {
    transform: translatex(40%) scale(.8);
    opacity: .4;
    z-index: 0;
}

#item-1:checked~.cards #song-1,
#item-2:checked~.cards #song-2,
#item-3:checked~.cards #song-3 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;

    // img {
    //     box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
    // }
}


.box {
    display: flex;
    gap: 18px;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0px 4px 40px rgba(32, 33, 36, 0.1);
    border-radius: 14px;
    min-width: 659px;
    height: 309px;
    padding: 49px;
    box-sizing: border-box;

    .cor-2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between !important;
        // width: 559px;
    }

    .cor-3 {
        color: rgba(32, 33, 36, 0.76);
    }

    .cor-4 {
        display: flex;
        gap: 20px;

        flex-direction: row !important;
        align-items: center;
        justify-content: flex-start;

        div {
            display: flex;
            flex-direction: column !important;
            justify-content: flex-start;
        }
    }
}

.abc {
    position: absolute;
    width: 50px;
    height: 40px;
    left: 560px;
}

.abc1 {
    position: absolute;
    position: absolute;
    width: 62px;
    height: 60.76px;
}

.abc2 {
    padding-left: 80px;
}
.dots{
    // width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.dot {

    cursor: pointer;
    height: 15px;
    width: 15px;
    // margin: 0 6px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    // transition: background-color 0.6s ease;
}

.dot:hover {
    cursor: pointer;
    height: 15px;
    width: 40px;
    background-color: #4A4C4C;
    border-radius: 15%;
    display: inline-block;

    // transition: background-color 0.6s ease;
}

@media only screen and (max-width: 600px) {
    .bg-img{
        background: none;
    }
    
    .main{
        padding-bottom: 250px;
        overflow: hidden;
        
    }
    .main2{
        padding-bottom: 60px;
    }
    .card {
        width: 259px;
        height: 197px;
    }
    .box {
        min-width: 259px !important;
        height: 197px;
        padding: 0;
        padding-left: 20px;
        padding-top: 10px;

    }
    .cor-3{
        width: 238px !important;
    }

    .cor-a1 {
        font-weight: 700;
        font-size: 16px;
    }

    .cor-a2 {
        font-weight: 600;
        font-size: 12px;
    }
    .cor-a3 {
        font-weight: 600;
        font-size: 16px;
    }

    .abc {
        left: 200px;
        width: 38px;
        height: 31px;
    }

    .abc1 {
        width: 40px;
        height: 38.27px;
    }
    .abc2{
        padding-left: 50px;
    }

}

