<app-head-comp-two></app-head-comp-two>
<br><br>
<div class='container'>
    <div class="row jmj-flex-1">
        <div class="jmj-uni-para-cont col-lg-7 cl-fblc-a jmj-pb-4 jmj-pr-2">
            <h2 class='jmj-uni-para-cont-h2'> Migrate Permanently to a foregin Country. </h2>
            <p class='jmj-uni-para-cont-p'>Non-Immigration visas (NIV) are issued to those who are visiting a country on a temporary basis. 
                This could be for a variety of reasons, like tourism, medical treatment, business or temporary work, etc.
                 We assist in non-immigration visa processing for UK, USA, Canada, Europe and 67 other countries. 
                 These visas usually are time-bound and have a particular deadline according to country.  </p>
            <br><br>
            <h2 class='jmj-uni-para-cont-h2'>Start your visa process Today </h2>
            <p class='jmj-uni-para-cont-p'>Applying for a visa can be intimidating. With an endless list of rules to follow and documentation,
                it can become overwhelming. jmjconsultancy has the knowledge, experience and robust processes to help you navigate complex visa procedures 
                and file your visa application with greater confidence. We have a high success rate and best-in-class service.
                Tourist visas are issued to tourists who want to visit a country for a vacation or for sightseeing. These visas have a limited 
                validity period and do not allow the foreign visitor to conduct any business while in the country. </p>
            </div>
        <div class="col-lg-5">
            <img src="../../../assets/images/visa/travelling-concept-with-group-travelers-miniature.jpg" alt="">
        </div>
    </div>  
</div>

<div class="container">
    <div class="row jmj-visa-class-box">
        <div class="col-lg-4 ">
            <img src="../../../assets/images/visa/tourist.png" alt="" srcset="" class='jmj-pb-2'>
            <h3 class='jmj-uni-para-cont-h3 cl-fblu-b'> Visitor Visa </h3>
            <p class='jmj-uni-para-cont-p jmj-pb-2'>
                Get assistance in visitor visa for traveling, business, leisure, sports, artist performances, medical treatment, etc.
                We specialize in procuring renewal for existing visa.
                Special interview preparation sessions from the visa experts.
                We are experts in retused visa cases.
            </p>
            <a [routerLink] = "['/contact']"><button class='cl-bgey-a jmj-but-a'>
                Apply now
            </button></a>
        </div>
        
        <div class="col-lg-4">
            <img src="../../../assets/images/visa/dependent.png" alt="" srcset="" class='jmj-pb-2'>
            <h3 class='jmj-uni-para-cont-h3 cl-fblu-b'> Dependant Visa </h3>
            <p class='jmj-uni-para-cont-p jmj-pb-2'>
                Individuals who legally reside in foreign country can apply for dependent visas for their spouse under:
                <br><br>
                <b>a. Student Visa Dependent</b><br>
                <b>b. Work Permit Dependent</b>
            </p>
            
            <a [routerLink] = "['/contact']"><button class='cl-bgey-a jmj-but-a'>
                Apply now
            </button></a>
        </div>
        
        <div class="col-lg-4">
            <img src="../../../assets/images/visa/business.png" alt="" srcset="" class='jmj-pb-2'>
            <h3 class='jmj-uni-para-cont-h3 cl-fblu-b'> Business Visa </h3>
            <p class='jmj-uni-para-cont-p jmj-pb-2'>
                Visit foreign countries for business meetings, exhibitions, conferences, etc.
                Stay updated with latest requirements and documents for Business Visa
                <br><br><br>
            </p>
            
            <a [routerLink] = "['/contact']"><button class='cl-bgey-a jmj-but-a'>
                Apply now
            </button></a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="jmj-uni-para-cont col-lg-8 cl-fblc-a jmj-pb-4 jmj-pr-2">
            <h2 class='jmj-uni-para-cont-h2'>Non- Immigratin Visa Services </h2>
            <p class='jmj-uni-para-cont-p'>Applying for a visa can be a stressful prospect. With an endless train of paperwork and documentation, it can quickly become overwhelming. jmjconsultancy has the knowledge, experience, and robust processes to help you navigate complex visa procedures and file your visa application with greater confidence.
                <br><br>
                Each country offers different types of visa base on the purpose of your visit. Though you can apply for a visa to most countries online. It will take some time for you to understand the process, get the required documents, and fill the application form. You must ensure that you meet the eligibility requirements and requirements specific to the country you wish to move to.
                <br><br>
                Remember there are different requirements for a student visa, a tourist visa, a work visa, etc. You must understand the specific requirements of the visa you are applying for and fill the application form and follow the other processes to get your visa.
                <br><br>
                This is where the advice of a visa counselor or a visa advisor will be valuable to help you understand the different visas available and the specific requirements for your visa. A visa counselor will help you with the application process to successfully procure your visa.
                <br><br>
                <b>Here are the general steps you must follow in order to get a visa:</b><br><br>
                </p>
            <ul class='jmj-uni-para-cont-ul'>
                <li>Choose your visa</li>
                <li>Prepare your application</li>
                <li>Attend an appointment at the country’s embassy or consulate</li>
                <li>Get a decision on your application</li>
            </ul>
            <p class='jmj-uni-para-cont-p'>
                Following the process and getting it right can sometimes get overwhelming. A better option is to consult an immigration expert who can help you in an efficient way.
              <br><br>
                jmjconsultancy has the knowledge, experience and robust processes to help you navigate complex visa procedures and file your visa application with greater confidence.
            </p>
        </div>
    </div>
</div>

<app-country-line></app-country-line>
<br>
<div class="container">
    <div class="row">
        <h2 class='jmj-uni-para-cont-h2'>FAQ</h2>
    </div>
</div>
<app-faq></app-faq>
<hr>

<!-- Footer Component Link Start -->
<app-footer></app-footer>
<!-- Footer Component Link End -->