<!-- <div class="cor-staffing-main">

    <div class="cor-staffing-section1 cor-bg-color-lightgrayishblue">
          <div class="cor-section-div1">
            <div class="cor-section-div2">
                <h1 class="cor-text-45-600-Nunito-Sans cor-color-lightblue">Staffing</h1><br>
                <p class="cor-text-16-400-Nunito">CORtracker Inc. helps your company by solving the technological, operational, and business difficulties and providing solutions in many forms. Our platform of solutions controls the complexity of the business so that you may concentrate on your primary customer demands and business operations. </p> <br>
    
                <p class="cor-text-16-400-Nunito">We are immensely successful in creating a global network of a highly adept intelligent workforce that can help achieve critical projects and goals. Keeping pace with projects and being on the lookout for extremely talented individuals. We here in CORtracker put our employees priority at the highest importance.</p>
                    
               </div>
               <img src="../../../assets/images/staffing/workimg.png" alt="" class="cor-section1-img">
          </div>
          
    </div>
    
    
    ---------candidate-------- -->
    
    <!-- <div class="cor-section2-main">
          <img src="../../../assets/images/staffing/section2img.png" alt="" class="cor-section2-img">
          <div class="cor-section2-div1">
               <div class="cor-section2-div2">
                      <h1 class="cor-text-30-600-Nunito-Sans">Drive Your Candidate Experience</h1>
                      <p class="cor-text-16-400-Nunito">The human aspect of the business is created, improved, managed, and developed through our approach while taking into account the organization's resourcefulness in terms of its capabilities, skills, creativity, knowledge, potential, and talents.</p>
               </div>
               <div class="cor-section2-div3">
                       <h1 class="cor-text-30-600-Nunito-Sans">Our Recruiting methods</h1>
                       <p class="cor-text-16-400-Nunito">In contrast to other service providers, we CORtracker that our hiring procedure is native. It is because every step of this procedure has been pre-planned and assigned to specific people. This is one of the clients' chosen service providers due to the process distribution percentage. The main critical steps of our method are listed below.</p>
               </div>
    
          </div>
    </div> -->
    