<app-head-comp-two></app-head-comp-two>
<br><br>
<div class='container'>
    <div class="row jmj-flex-1">
        <div class="jmj-uni-para-cont col-lg-7 cl-fblc-a jmj-pb-4 jmj-pr-2">
            <h2 class='jmj-uni-para-cont-h2'> Migrate Permanently to a foregin Country. </h2>
            <p class='jmj-uni-para-cont-p'>An immigration visa (IV) is issued to those who wish to live permanently in a foreign country.
                 Acquiring this visa is the first step to becoming a lawful permanent resident. We have helped our clients to settle in their
                  dream destinations like Canada, USA, UK, and other European countries. Beware of fake agents! Governments from across 
                  the world recommend applying only through licensed immigration consultants.  </p>
            <br><br>
            <h2 class='jmj-uni-para-cont-h2'>Unbiased Immigration Advice </h2>
            <p class='jmj-uni-para-cont-p'>At jmjconsultancy we don’t sell, we counsel. We help our clients discover the best country for
                them and give them unbiased advice on their best migration options. Our immigration counsellors work with you to understand 
                your preferences, identify the countries that offer you the highest chance of successful migration and the best future prospects,
                and then help you with your migration process. We are up-to-date with the latest immigration laws and policies and offer you timely, accurate
                advice to make the right immigration decision.</p>
            </div>
        <div class="col-lg-5">
            <img src="../../../assets/images/visa/Immigrants queueing for registration.jpg" alt="">
        </div>
    </div>  
</div>
<div class="container">
    <div class="row jmj-visa-class-box">
        <div class="col-lg-4 ">
            <img src="../../../assets/images/visa/house.png" alt="" srcset="" class='jmj-pb-2'>
            <h3 class='jmj-uni-para-cont-h3 cl-fblu-b'> Permanent Residency </h3>
            <p class='jmj-uni-para-cont-p jmj-pb-2'>
                Apply fir Canada PR with a Canadian Government Approved ICCRC member.
                There are 60 types of visas through which one can choose to apply for Canada PR.
                Stay updated with latest rules & requirements for PR application process.
            </p>
            <a [routerLink] = "['/contact']"><button class='cl-bgey-a jmj-but-a'>
                Apply now
            </button></a>
        </div>
        
        <div class="col-lg-4">
            <img src="../../../assets/images/visa/family.png" alt="" srcset="" class='jmj-pb-2'>
            <h3 class='jmj-uni-para-cont-h3 cl-fblu-b'> Family - Based Immigration </h3>
            <p class='jmj-uni-para-cont-p jmj-pb-2'>
                Join your family member settled abroad with this visa.
                Get information about various documnets required for this type of visa.
                Assistance in documentation & submitting application for Visitor Visa.
                <br><br>
            </p>
            
            <a [routerLink] = "['/contact']"><button class='cl-bgey-a jmj-but-a'>
                Apply now
            </button></a>
        </div>
        
        <div class="col-lg-4">
            <img src="../../../assets/images/visa/business.png" alt="" srcset="" class='jmj-pb-2'>
            <h3 class='jmj-uni-para-cont-h3 cl-fblu-b'> Investor / Enterpreuner</h3>
            <p class='jmj-uni-para-cont-p jmj-pb-2'>Business and Investors with intentions to extend their business aborad can apply for
                 investor/ Entrepreneur Visa. Explore the option to settke abroad through investor/ Entrepreneur visa
                 <br><br>
            </p>
            
            <a [routerLink] = "['/contact']"><button class='cl-bgey-a jmj-but-a'>
                Apply now
            </button></a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="jmj-uni-para-cont col-lg-8 cl-fblc-a jmj-pb-4 jmj-pr-2">
            <h2 class='jmj-uni-para-cont-h2'>Why Migrate Abroad? </h2>
            <p class='jmj-uni-para-cont-p'>Settling abroad in one of the world’s leading countries is one of the most life-changing things you can do. Some of the biggest reasons people settle abroad are</p>
            <ul class='jmj-uni-para-cont-ul'>
                <li>Better salary and job prospects</li>
                <li>Greater standard of living</li>
                <li>The more stable political environment</li>
                <li>Vibrant multicultural cities</li>
                <li>Better healthcare and education Better life for children</li>
                <li>Opportunity to bring more members of the family abroad</li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="jmj-uni-para-cont col-lg-8 cl-fblc-a jmj-pb-4 jmj-pr-2">
            <h2 class='jmj-uni-para-cont-h2'>Immigration Services </h2>
            <p class='jmj-uni-para-cont-p'><b>Our Full Service & Processing Includes:</b></p>
            <ul class='jmj-uni-para-cont-ul'>
                <li>Document checklist</li>
                <li>Complete migration processing & application processing</li>
                <li>Forms, Documentation & Petition Filing</li>
                <li>Guidance on acquiring the specific police clearance certificate</li>
                <li>Assistance with medicals</li>
                <li>Updates & follow-up with the Embassy</li>
                <li>Visa interview preparation – if required</li>
                <li>English (IELTS/PTE) coaching*</li>
                <li>Accommodation assistance*</li>
                <li>Relocation orientation*</li>
                <li>Job search assistance*</li>
                *These services are provided at an additional cost.
            </ul>
        </div>
    </div>
</div>

<app-country-line></app-country-line>
<br>
<div class="container">
    <div class="row">
        <h2 class='jmj-uni-para-cont-h2'>FAQ</h2>
    </div>
</div>
<app-faq></app-faq>
<hr>

<!-- Footer Component Link Start -->
<app-footer></app-footer>
<!-- Footer Component Link End -->