.jmj-toe-bind{
    display:flex;
    color:#696969;
    flex-direction: row;
    padding: 0 1.4em;
    justify-content: space-between;
}
@media (max-width: 992px) { 
    .jmj-toe-bind{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}