<div class="jmj-wwa-cont container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg jmj-wwa-img-cont">
                <img src="../../../assets/images/wwa-txt.jpg" alt="" srcset="">
            </div>
            <div class="col-lg jmj-wwa-txt-cont">
                <h2 class="ht1 cl-fblc-a">JMJ Immigration Consultancy</h2>
                <span class="txts1 cl-fgrey-b">Who we are</span>
                <p class="txtm1 cl-fblc-b">
                    Oman’s No.1 growing Visas and Immigration Consultant firm, we provide personal one-on-one counseling to inquiries for visa and immigration, business & visitor visas and other visas.
                </p>
                <br>
                <p class="txtm2 cl-fblc-b">
                    We consider it our professional responsibility to analyse and review each and every case very carefully before representing the client, thereby maintaining individuality and client confidence. As a professional firm, we take pride in working together with our customers as a team, taking pro-active steps to make sure that all needs are met<br><br>
                    Access all available IELTS, PTE, TOEFL GRE and GMAT exams in Oman and register to save your spot within a couple of minutes. Our tips help you to strategize effectively.  It is imperative in today’s competitive world for a student to stand out. Our training lays the path for the best of admissions.
                </p>
                <br><br>
                <button class='jmj-but-b cl-bblu-b cl-fwit-a'> Get a Consultantion</button>
                

            </div>
        </div>
    </div>
</div>
