<div class="container-fluid jmj-count-cont">
    <div class="container">
        <div class="row">
            <div class="col-sm jmj-count-item">
                <h3>5000+</h3>
                <span> Immigrations </span>
            </div>
            <div class="col-sm jmj-count-item">
                <h3>20+</h3>
                <span> Countries </span>
            </div>
            <div class="col-sm jmj-count-item">
                <h3>60+</h3>
                <span> Cities</span>
            </div>
            <div class="col-sm jmj-count-item">
                <h3>1200+</h3>
                <span> Students </span>
            </div>
        </div>
    </div>
</div>
