<div class="container-fluid jmj-rna-cont cl-bgey-a">
    <div class="container">
        <div class="row">
            <h2 class='cl-fblc-a'> Recent News Articles </h2>
            <p class='cl-fgry-b'>Lorem ipsum dolor sit amet elit, sed do eiusmod tempor</p>
        </div>
        <div class="row rna-box">
            <div class="rna-item col-lg">
                <img src="../../../assets/images/recentNewArticles/rna1.jpg" alt="" srcset="">
                <div class="rna-inbox">
                    <div class="rna-in1">
                        <span>May 14, 2020</span>
                        <span>&bullet;</span>
                        <span>Education</span>
                        <span>&bullet;</span>
                        <span>1 Comment</span>
                    </div>
                    <h2>Attract Sales and Profits</h2>
                    <P>Duis mattis laoreet neque, et ornare neque sollicitudin at.</P>
                    <a>Read more ></a>
                </div>
            </div>
            <div class="rna-item col-lg">
                <img src="../../../assets/images/recentNewArticles/rna2.jpg" alt="" srcset="">
                <div class="rna-inbox">
                    <div class="rna-in1">
                        <span>May 14, 2020</span>
                        <span>&bullet;</span>
                        <span>Education</span>
                        <span>&bullet;</span>
                        <span>1 Comment</span>
                    </div>
                    <h2>Attract Sales and Profits</h2>
                    <P>Duis mattis laoreet neque, et ornare neque sollicitudin at.</P>
                    <a>Read more ></a>
                </div>
            </div>
            <div class="rna-item col-lg">
                <img src="../../../assets/images/recentNewArticles/rna3.jpg" alt="" srcset="">
                <div class="rna-inbox">
                    <div class="rna-in1">
                        <span>May 14, 2020</span>
                        <span>&bullet;</span>
                        <span>Education</span>
                        <span>&bullet;</span>
                        <span>1 Comment</span>
                    </div>
                    <h2>Attract Sales and Profits</h2>
                    <P>Duis mattis laoreet neque, et ornare neque sollicitudin at.</P>
                    <a href=''>Read more ></a>
                </div>
            </div>
        </div>
    </div>
</div>
