<!-- <div class="cor-body">
    <div class="cor-flex-1 cor-center cor-d1 cor-gap4">
        <h2 class="cor-text-30-600-Nunito-Sans">Staffing at the Speed of Insight</h2>
        <div class="cor-flex cor-gap2">
            <div class="cor-flex cor-center cor-gap2">
                <img src="../../../assets/images/staffing-2/counselling.png" alt="">
                <div class="cor-d2-child" >
                    <h2 class="cor-text-24-400-Nunito-Sans">Skill Verification</h2>
                    <p class="cor-text-16-400-Nunito cor-color-lightblack">Having an advisory council of different experts and technical experts. The candidate's profile and background will be carefully examined.</p>
                </div>
            </div>
            <div class="cor-flex cor-center cor-gap2">
                <img src="../../../assets/images/staffing-2/resumeWriting.png" alt="">
                <div class="cor-d2-child2">
                    <h2 class="cor-text-24-400-Nunito-Sans">Client Approvals</h2>
                    <p class="cor-text-16-400-Nunito cor-color-lightblack">In addition, we offer fully equipped screening blocks for the customer on our property.</p>
                </div>
            </div>
            <div class="cor-flex cor-center cor-gap2">
                <img src="../../../assets/images/staffing-2/jobOppurtunity.png" alt="">
                <div class="cor-d2-child">
                    <h2 class="cor-text-24-400-Nunito-Sans">Our Clientele</h2>
                    <p class="cor-text-16-400-Nunito cor-color-lightblack">We have a wide variety of clients in many different areas, including the banking, insurance, telecom, and clothing industries, to name a few prestigious ones.</p>
                </div>
            </div>
        </div>
        <div class="cor-flex cor-gap1 ">
            <div class="cor-flex cor-center">
                <img src="../../../assets/images/staffing-2/skillAnalysisReport.png" alt="" width="85px">
                <div class="cor-d2-child cor-padding-left20">
                    <h2 class="cor-text-24-400-Nunito-Sans">Quality Aspect</h2>
                    <p class="cor-text-16-400-Nunito cor-color-lightblack">We keep quality in our mind always, hence we provide long term quality professional through our dedicated consulting for specialized areas with the process involved each time the requirement is placed.</p>
                </div>
            </div>
            <div class="cor-flex cor-center cor-gap4">
                <img src="../../../assets/images/staffing-2/linkedinMarketing.png" alt="" width="80px">
                <div class="cor-d2-child2">
                    <h2 class="cor-text-24-400-Nunito-Sans">Reachable</h2>
                    <p class="cor-text-16-400-Nunito cor-color-lightblack">The presence of our network with the leading consultants throughout the country gives us an added advantage in time consuming and referrals across all industry and functions with domain experts to anchor specific industry verticals.</p>
                </div>
            </div>
            <div class="cor-flex cor-center">
                <img src="../../../assets/images/staffing-2/job1.png" alt="" width="100px" class="cor-padding-right">
                <div class="cor-d2-child3 cor-padding-right1">
                    <h2 class="cor-text-24-400-Nunito-Sans">Economical Services</h2>
                    <p class="cor-text-16-400-Nunito cor-color-lightblack ">Our services are more economical and reliable as compared with other solution providers. We are more flexible in all modes of business decisions of the clients.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="cor-flex cor-center cor-gap4 cor-padding-top">
        <div class="cor-flex-1 cor-gap3 cor-d2">
            <h2 class="cor-text-30-600-Nunito-Sans">JOBS OFFERED</h2>
            <div class="cor-flex-1 cor-gap2 ">
                <p class="cor-text-16-400-Nunito cor-color-lightblack cor-padding-bottom">CORtracker is the Vanguard in
                    providing speciality opportunities</p>
                <div class="cor-flex-1 cor-gap1">
                    <div class="cor-flex cor-gap2">
                        <span><img src="../../../assets/images/icons/Vector-4.png" alt=""></span><span
                            class="cor-text-16-400-Nunito cor-color-lightblack">Cyber Security, Full stack
                            Developer</span>
                    </div>
                    <div class="cor-flex cor-gap2">
                        <span><img src="../../../assets/images/icons/Vector-4.png" alt=""></span><span
                            class="cor-text-16-400-Nunito cor-color-lightblack">Internship oppurtunities</span>
                    </div>
                    <div class="cor-flex cor-gap2">
                        <span><img src="../../../assets/images/icons/Vector-4.png" alt=""></span><span
                            class="cor-text-16-400-Nunito cor-color-lightblack">Data scientist</span>
                    </div>
                    <div class="cor-flex cor-gap2">
                        <span><img src="../../../assets/images/icons/Vector-4.png" alt=""></span><span
                            class="cor-text-16-400-Nunito cor-color-lightblack">UI and UX Developers</span>
                    </div>
                    <div class="cor-flex cor-gap2">
                        <span><img src="../../../assets/images/icons/Vector-4.png" alt=""></span><span
                            class="cor-text-16-400-Nunito cor-color-lightblack">QA Testing</span>
                    </div>
                    <div class="cor-flex cor-gap2">
                        <span><img src="../../../assets/images/icons/Vector-4.png" alt=""></span><span
                            class="cor-text-16-400-Nunito cor-color-lightblack">Web designing</span>
                    </div>
                </div>
                <p class="cor-text-16-400-Nunito cor-color-lightblack">We give the finest opportunity for applicants to
                    demonstrate their expertise while also guaranteeing that they are qualified for the positions that
                    the firms expect of them. Identifying the company's requirements is also a task in order to help it
                    expand and achieve greater heights. Candidates receive the finest training available and are
                    properly cared with contemporary facilities and services, including lodging. For their benefit,
                    dental and medical insurance are provided. We make them feel at ease and at home as Cortracker</p>
            </div>
            <div class="cor-text-30-600-Nunito-Sans cor-c">Global Presence</div>
        </div>
        <img src="../../../assets/images/staffing-2/image-3.png" alt="">
    </div>
    <div class="cor-flex-1 cor-center cor-gap4 cor-d3">
        <img class="cor-center" src="../../../assets/images/staffing-2/Group-174.png" alt="">
        <img class="cor-center" src="../../../assets/images/staffing-2/Group.png" alt="">
    </div>
</div> -->